[2017-08-03 19:56] rishubhjain opened #9 "Python dependency missing from the .spec file"
monitoring-integration requires 3rd party dependencies
https://github.com/Tendrl/monitoring-integration/blob/master/setup.py#L121
These must be mentioned in .spec file.

[2017-08-03 19:57] #9 closed

[2017-08-03 20:04] rishubhjain opened #11 "Python dependency missing from the .spec file"
Monitoring-Integration requires setuptools which is not mentioned in the spec file

[2017-08-03 20:21] #11 closed

[2017-08-04 11:10] cloudbehl opened #15 "Roundoff the values in grafana to 1 decimal point"
Round Off the values in Grafana to 1 decimal point for all the panels in dashbaords.
1) The Y axis and X axis in the trend graphs need to be rounded value.
2) The single stat panels need to have rounded value.

Solution:
1) Go to the Edit option of the panel in Grafana
2) Select options tab
3) You will see the decimal label under the options tab.
4) Set its value to the round off value in the text

[2017-08-06 08:49] rishubhjain opened #18 "Monitoring-integration dependency on grafana deletes monitoring integration if grafana is removed"
Step 1) Install Grafana
Step 2) Install monitoring-integration
Step 3) Remove Grafana [implicitly removes monitoring integation]
Step 4) Install Grafana

Following the above steps leaves monitoring-integration uninstalled on server. We should explicitly mention in the documentation that if grafana is to be reinstalled then monitoring integration will have to be reinstalled.

[2017-08-07 04:41] nthomas-redhat commented on #18
I am not this needs to be mentioned explicitly. This is true with any dependencies and admins expected to take care of this.

[2017-08-07 04:46] rishubhjain commented on #18
Ok.

[2017-08-07 04:46] #18 closed

[2017-08-07 13:12] dahorak opened #19 "Conflict with grafana because of /etc/grafana/grafana.ini"
`rpmdeplint check-conflicts` reports following issue:
[code]

`rpmdeplint` was launched with following arguments:
[code]

Full log is available in CentOS CI: https://ci.centos.org/job/tendrl-pkgval-2-release-rpmdeplint/5/console

[2017-08-07 13:42] dahorak commented on #19
This seems to be problem with older version of _grafana_ (I'm not sure, why `rpmdeplint` check the dependencies also against older versions of packages available in the repos.).
Closing...

[2017-08-07 13:42] #19 closed

[2017-08-08 12:43] nthomas-redhat opened #20 "Transform monitoring-integration to a service"
This PR is intended to track the changes required to transform monitoring-integration to a service:
a) Required changes in the codebase
b)systemd related changes - service files etc
c) spec file related changes

[2017-08-10 11:40] mkudlej opened #21 "package POSTIN scriptlet failure"
I've tried to install this component from package ```tendrl-monitoring-integration-1.0.0-1.el7.centos.noarch``` which is from Tendrl 1.5.0 and I see this error:
[code]

[2017-08-10 11:56] mbukatov commented on #21
## Reproducer

1) On clean CentOS 7 machine, enable repositories for grafana, epel and tendrl copr
2) Run `yum install tendrl-monitoring-integration`

## Details

Postinstall scriptlet should not touch rpmnew (or rpmold) files.

The current scriptlets are:

[code]

[2017-08-10 13:11] ltrilety opened #22 "bad brick names in Grafana"
Part of the brick name should be also hostname the same as when user run `gluster volume info`. Otherwise it could happen, and often will happen, that more bricks have the same name. Because they could be in the same directory on different machines.

Example of Grafana when it happened:
![grafana_brick_name](https://user-images.githubusercontent.com/22369834/29171716-b996a296-7ddd-11e7-8e4f-85c797

[2017-08-10 14:05] ltrilety opened #23 "stopped volume status in Grafana"
Grafana says `Degraded` for any stopped volume. But for volume to be degraded it has to fulfill:

<br>
<br>
E.g.

Grafana says `Degraded` whilst `# gstatus -a` prints:
[code]

`gluster volume info` says:
[code]
or
[code]

[2017-08-10 14:10] ltrilety commented on #23
After some time the status was changed to `Stopped` as it should be.

[2017-08-10 14:36] cloudbehl opened #24 "Alerting support for queries using template variables in Grafana"
Currently setting of alert with templating variable in grafana is not possible As referred in the document[1].

I tried using the hackish way referred in the document[1] but it still doesn't generate the alert, it just removes the warning that says( Template variables are not supported in alert queries) but no data is passed in the alert related to the metrics. I tried many different ways to show

[2017-08-10 14:54] Daniel-Pivonka opened #25 "Tendrl cluster id does not match Grafana cluster id"
![tendrl_id](https://user-images.githubusercontent.com/22037319/29176388-bd23156c-7db9-11e7-9eea-b345686eeaf3.png)
![grafana_id](https://user-images.githubusercontent.com/22037319/29176389-bd339de2-7db9-11e7-9ef9-52fc292bb285.png)

The cluster id displayed in tendrl does not match the cluster id displayed in grafana

[2017-08-10 15:06] julienlim commented on #25
@Tendrl/qe @Tendrl/tendrl-core @japplewhite jjkabrown1 @Daniel-Pivonka

Per looking at the Milestone 1  (Aug 4 2017) build, after installed, we looked the cluster ID shown in Grafana/Graphite vs. what we see in the Tendrl UI (based on etcd) for the Gluster cluster being monitored, and they differ in what is displayed.  The nodes (server1 and server2) that are in the cluster correct.

Another oddit

[2017-08-18 12:08] mbukatov opened #27 "Status for 1st milestone"
Dashboards
==========

Here is my feedback of Grafana dashboards of [1st
milestone](https://github.com/Tendrl/specifications/milestone/2).

This feedback is based on Sankarshan's description of what to fosus on
in this milestone:

-   Installation
-   Are we able to get this stack up against Gluster
-   Are able to automatically detect a Gluster cluster
-   Are the metrics available and displayed

[2017-08-18 12:11] mbukatov commented on #27
Based on this report, design documents and plans for next milestones, we should report issues/change specifications or designs for the next milestone.

[2017-08-23 12:02] rishubhjain opened #32 "Functionality to insert aggregated data into graphite"
Monitoring-integration should pull data from etcd , aggregate it at the monitoing-integration level and push it in graphite.

[2017-08-23 16:06] mbukatov opened #33 "Service tendrl-monitoring-integration fails during tendrl-ansible driven installation"
## Description

When Tendrl is installed via [tendrl-ansible](https://github.com/Tendrl/tendrl-ansible), service `tendrl-monitoring-integration` fails early during startup so that after ansible reports the process as finished without any errors, service `tendrl-monitoring-integration` is not running and Tendrl dashboards are not loaded in Grafana.

## Version

I'm using packages from [tendrl/tendr

[2017-08-23 17:12] mbukatov opened #34 "README file is missing configuration step: specify etcd_connection"
The readme file doesn't mention configuration of `etcd_connection` in `/etc/tendrl/monitoring-integration/monitoring-integration.conf.yaml` file.

[2017-08-23 17:19] mbukatov opened #35 "the service reports too long error lines in system log"
## Description

In some cases (see reproducer), tendrl-monitoring-integration service reports too long errors in systemd-journal log.

## Version

I'm using packages from [tendrl/tendrl COPR](https://copr.fedorainfracloud.org/coprs/tendrl/tendrl/), which contains latest snapshot builds from master branch, when it contained builds for the [2nd milestone](https://github.com/Tendrl/specifications/mil

[2017-08-24 04:37] cloudbehl opened #36 "Adding new dashboard JSON and updating the screenshots for Grafana"

[2017-08-24 07:09] rishubhjain opened #39 "Display proper error message."
If dashboard upload fails monitoring-integration is required to display/log proper error message.

[2017-08-24 10:12] r0h4n opened #40 "Should not write aggregate cluster data to graphite unless cluster is Tendrl managed"
tendrl-monitoring-integration tries to write cluster wide aggregated metrics to graphite without checking if the cluster is Tendrl managed or not.

[2017-08-24 12:49] cloudbehl opened #43 "Grafana - weeks remaining and weeks growth will not be there without one days data"
Weeks remaining and week growth is being calculated at the grafana layer and the logic i have written needs atleast one day data to show these properties.

[2017-08-24 14:12] r0h4n opened #44 "Top 5 bricks by utilization fails if all bricks have same name"
Seems like volume name needs to prefixed to the brick names to ensure they are uniquely listed in "Top 5 bricks by utilization"

[2017-08-24 17:57] nthomas-redhat commented on #33
Looks like a timing issue. I haven't seen this on our testbeds

[2017-08-24 19:44] #40 closed

[2017-08-28 08:04] #36 closed

[2017-08-28 11:34] cloudbehl commented on #43
@fbalak Says:

if there is not enough data there should not be message Internal Server Error

[2017-08-29 08:40] fbalak opened #47 "Package tendrl-monitoring-integration requires grafana (missing dependency)"
Installation of `tendrl-monitoring-integration` from [Tendrl release Copr repository](http://copr-be.cloud.fedoraproject.org/results/tendrl/release/epel-7-x86_64/) fails on missing dependency ([dependency repo](http://copr-be.cloud.fedoraproject.org/results/tendrl/dependencies/epel-7-x86_64/) is enabled):

[code]

[2017-08-29 08:48] #47 closed

[2017-08-30 04:49] rishubhjain opened #49 "Default value shown in grafana dashboards when datasource is not configured"
If the datasource is not configured in grafana, then the dashboards uploaded in grafana shows default values.

Steps to Reproduce:
1) Install Grafana
2) Import any dashboard in grafana.

[2017-08-30 05:39] cloudbehl commented on #44
@r0h4n @nthomas-redhat The best possible for the brick name with host name is "dhcp43-116_lab_eng_blr_redhat_com.bricks.|root|gluster_bricks|master_b2". Bricks word is coming in between, Is it good?

[2017-08-30 11:41] mkudlej opened #51 "host is down, don't see it on dashboards"
I've imported cluster and after more than 30 minutes I've shut down *gl4* machine.
1) There is no alert about this and host is not marked as down in Tendrl UI.
1) Host status is not reflected also in Grafana dashboards except of one chart about number of hosts which are down.
Please see screenshots for details.

Used packages:
[code]
![bug_host_down1](https://user-images.githubusercontent.com/5920

[2017-08-31 03:55] cloudbehl commented on #51
@mkudlej Can you check if monitoring-integration service is running on your system?

@anmolbabu can you check why the brick level utilization is not getting collected? As all other data is available. Also, @mkudlej has shut down the gl4 instance but still the graphite is pushing the data

cc: @rishubhjain

[2017-08-31 06:30] cloudbehl commented on #51
linking: https://github.com/Tendrl/node-agent/issues/592

[2017-08-31 06:49] anmolbabu commented on #51
Regarding the first issue I would need to know if there are any errors in service collectd status -l
or /var/log/messages to be able to better comment on this
Cc: @mkudlej

No graphite doesn't push any data. Its only a time-series data store.
1. The data is either pushed by collectd or monitoring-integration to graphite.
2. The data in graphite is stored on disk in the form of .wsp whisper files.

[2017-08-31 07:27] dahorak opened #52 "Configure Webhook for ci.centos.org"
Could you please configure webhook to `https://ci.centos.org/github-webhook/` for this repo, which will trigger package build for each commit in master branch?

_Instruction copied from [1]:_
Add a Webhook to your repository pointing at https://ci.centos.org/github-webhook/
2. On your Github Project page, choose 'Settings'
3. Navigate to the 'Webhooks and Services' tab
4. Choose 'Add a webhook'

[2017-08-31 08:34] mkudlej commented on #51
@cloudbehl Monitoring integration service is up and running.

[2017-08-31 08:52] mkudlej commented on #51
@anmolbabu I don't see any error related to this bug in /var/log/messages

[2017-08-31 09:22] anmolbabu opened #53 "Add brick status wise counters to graphite"
The issue is:

* grafana does countseries to get count of bricks in a given status
* for all stats to be available in gaphite, it takes some time

So given above 2 points, it takes some time for all counters to be correct.
The fix to this will be to push the counter readily rather than deriving it so that the counter is either NA if its not available or a valid counter if it exists.

[2017-08-31 12:51] r0h4n commented on #52
Done

[2017-08-31 12:51] #52 closed

[2017-08-31 17:40] shtripat opened #54 "The definitions of flows are not correct"
The `run` value for the flows is not correct. Also the `uuid` field is missing for the flow definitions.

There are few syntax errors in the flows and tagging of the tendrl server node with `tendrl/integration/monitoring` is missing.

[2017-09-04 03:41] shtripat commented on #54
Closing as the required changes are merged.

[2017-09-04 03:41] #54 closed

[2017-09-04 09:10] cloudbehl opened #57 "Performance Issues with the drill-down from volumes to host linkage"

[2017-09-05 08:18] dahorak opened #58 "Update python-ruamel-yaml dependency name"
As it is described in similar  issue (https://github.com/Tendrl/commons/issues/705) and PR (https://github.com/Tendrl/commons/pull/706) for commons package, python-ruamel-yaml is now available in epel7 as python2-ruamel-yaml, so it should be accordingly renamed in tendrl-monitoring-integration.spec file.

[2017-09-05 11:26] #58 closed

[2017-09-05 11:27] cloudbehl opened #59 "Only 24 hour data is visible in Grafana."

[2017-09-05 11:28] cloudbehl commented on #59
@anmolbabu ^^

[2017-09-06 06:01] rishubhjain opened #60 "Running grafana using custom configuration file"
Presently Monitoring-integration replaces grafana.ini file with customized grafana.ini file, which is not a right approach.

Monitoring-integration must not replace the original grafana.ini file, instead should pass the path to custom setting file as parameter when grafana service is started.

[2017-09-06 06:09] rishubhjain commented on #60
@brainfunked We will have to mention the path to the customized configuration file(grafana.ini) in /etc/sysconfig/grafana-server where path of all the configuration files used by grafana is listed.
This can be done by monitoring-integration.

[2017-09-06 06:12] rishubhjain opened #61 "Monitoring-integration service fails if grafana server is not running"
Monitoring-integration service dependencies must be mentioned in tendrl-monitoring-integration.service file. Under requires (https://github.com/Tendrl/monitoring-integration/blob/master/tendrl-monitoring-integration.service#L3) we must add grafana-server.

[2017-09-06 06:14] rishubhjain commented on #61
@nthomas-redhat I have gone through service files of other tendrl componenets and I feel there is a need to include grafana-server under "After" as well. https://github.com/Tendrl/node-agent/blob/master/tendrl-node-agent.service#L4
@TimothyAsir Could you guide me what all will be needed so that monitoring-integration starts only after grafana-server is up and running?

[2017-09-06 06:15] rishubhjain opened #62 "User Management in Grafana"
Monitoring-integration must create/manage users in grafana

[2017-09-06 06:19] rishubhjain commented on #62
As per the approach discussed with @brainfunked , There will be 2 organisations handled by one super user.
tendrl-ansible is required to provide monitoring-integration with id and password of Super User.

Monitoring-integration will use the credentials to upload  dashboards. The main org will have anonymous access while org containing alert dashboards will be hidden from user.

[2017-09-06 08:12] rishubhjain opened #63 "Improve logging and error handling while uploading alert dashboard"
Proper messages need to be logged and all errors need to be handled while uploading alert dashboards.

[2017-09-06 08:15] rishubhjain opened #64 "Upload alert graphs for which thresholds are available"
Only specific graphs whose thresholds are available need to be uploaded for alerting.

[2017-09-06 08:55] rishubhjain opened #66 "Finalising alert frequency and duration"
We have hard-coded the alert frequency https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/grafana/create_dashboards.py#L70 and duration (https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/grafana/create_dashboards.py#L68) till which the state must be maintained to raise an alert.
We must finalise on the time and also w

[2017-09-06 08:56] rishubhjain commented on #66
@cloudbehl and @nthomas-redhat I require your suggestions

[2017-09-06 09:18] cloudbehl opened #67 "Status panel in Grafana is generation assembling Problem."
The Status panel plugin creates problem while assembling of panels.

The problem is in a plugin I have arranged the panel's accordingly So UI doesn't don't look bad. It's not matching the UX because of that Status Panel Issue.

[2017-09-06 10:30] rishubhjain commented on #62
As per the new approach, the tendrl-ansible will provide admin details(user_name, password) in monitoring-integration.conf.yaml file , Monitoring-integration will change the credentials of grafana super admin to the new crendentials provided. These credential will be used by monitoring-integration to upload dashboards.
@anivargi Please suggest changes

[2017-09-06 11:45] nthomas-redhat commented on #61
@rishubhjain ,you need both `Requires` and 'After'. Requires ensures that dependency requirements are met After ensures the ordering. Please have a look at https://www.freedesktop.org/software/systemd/man/systemd.unit.html for more details

[2017-09-06 11:47] rishubhjain commented on #61
@nthomas-redhat ack, will include it in the tendrl-monitoring-integration.service file

[2017-09-06 13:35] rishubhjain commented on #66
The frequency will be 60s and duration will be 3 mins

[2017-09-06 13:35] #66 closed

[2017-09-07 05:51] rishubhjain opened #68 "Enable internal profiling"
Internal profiling is needed in monitoring-integration service.

[2017-09-07 05:53] rishubhjain commented on #68
@r0h4n Please review

[2017-09-07 09:52] TimothyAsirJeyasing commented on #60
@rishubhjain Hope we can have our custom configuration as a separate file. So that we need not to modify the default one which comes with Grafana. How about using Custom configuration from $WORKING_DIR/conf/custom.ini

[2017-09-07 10:18] rishubhjain opened #71 "Create new organisation in grafana for alerting"
Monitoring Integration needs to create new organisation in grafana to upload alerting dashboards.

[2017-09-07 11:03] r0h4n commented on #61
@nthomas-redhat "Requires" ensures that tendrl-monitoring-integration does not start unless grafana-server.service is "active"

"After" doesnt care of grafana-server.service is "active" or "failed", it will still start tendrl-monitoring-integration

Source: https://serverfault.com/questions/812584/in-systemd-whats-the-difference-between-after-and-requires

[2017-09-07 12:46] rishubhjain commented on #61
@nthomas-redhat @r0h4n Thankyou, closing the issue

[2017-09-07 12:46] #61 closed

[2017-09-07 12:51] rishubhjain commented on #68
@r0h4n Closing the issue

[2017-09-07 12:51] #68 closed

[2017-09-07 12:51] #64 closed

[2017-09-07 12:51] #63 closed

[2017-09-07 13:42] rishubhjain commented on #33
@mbukatov A solution to this issue has been merged,https://github.com/Tendrl/monitoring-integration/issues/61
 could you test out and inform whether this issue is still reproducible?

[2017-09-07 16:09] julienlim opened #74 "New volume shows up in Tendrl UI but not in Graphite, nor Grafana"
I've a Gluster (glusterfs 3.12.0) cluster being monitored via Tendrl.  When I imported the cluster, I had 1 volume (distrepvol), and this could easily be seen in the Tendrl UI, Graphite and Grafana.

However, when I just added another Gluster volume (vol2), I can it in the Tendrl UI, but the newly added volume did not get picked up automatically by Graphite, nor Grafana.

Tendrl UI screenshot show

[2017-09-08 11:31] mbukatov commented on #33
I retried with snapshot builds from master (via `tendrl_copr_repo: "master"` variable of tendrl-ansible), which installed `tendrl-monitoring-integration-1.5.1-20170908T124712.dadabad.noarch` package, and the issue is still there (tendrl-monitoring-integration service was down when the playbook finished, but manual start of the service worked).

@rishubhjain could you check if the fix is already in

[2017-09-08 12:23] cloudbehl commented on #74
@julienlim can you check if monitoring integration service is running properly? Also, can you check if graphite has the values for the new volume?

[2017-09-08 13:27] julienlim commented on #74
@cloudbehl graphite did not have any values when I checked yesterday for the new volume, but I'll plan to restart the tendrl-monitoring-integration service and check again later.

[2017-09-08 16:13] GowthamShanmugam opened #75 "Small fix required in alert utils file"
In alerts utils files,  The find_node_id function  has to attribute cluster_id  but it is not declared, it needs to be replaced by integration_id attribute

[2017-09-11 11:21] mkudlej opened #77 "systemd service file should contain Documentation section"
I think that there should be Documentation section (https://fedoraproject.org/wiki/Packaging:Systemd#Documentation_field) in service file for systemd.

[2017-09-11 14:12] mkudlej opened #78 "monitoring-integration_logging.yaml not touched after service reload"
```/etc/tendrl/monitoring-integration/monitoring-integration_logging.yaml``` is part of tendrl-monitoring-integration and it is marked as configuration file in rpm package.

But if I try to do:
[code]
then
[code]
is not reloaded.
This configuration file should be removed from package if it is not used *OR* it should be reloaded during ```systemctl reload```
[code]

[2017-09-11 16:12] julienlim opened #79 "Grafana Dashboard Labels misleading"
The default Grafana dashboards are wordy and also somewhat misleading.

![screen shot 2017-09-11 at 12 06 07 pm](https://user-images.githubusercontent.com/5589919/30284931-731fc092-96ea-11e7-9cdd-f5115a5757d3.png)

* Why do we need to prefix the dashboards with "Tendrl - Gluster -?"
* If you're only see 1 host at a time for the dashboard, why is it called "Tendrl - Gluster - Hosts?"  The same appl

[2017-09-12 06:39] rishubhjain commented on #75
@GowthamShanmugam Can I close this issue?

[2017-09-12 06:41] rishubhjain opened #82 "Update functionality of adding aggregated data from etcd to graphite"
Monitoring-Integration supports the functionality to add aggregated data from etcd to graphite, but it needs some updats/better error handling and requires to send more data to graphite.

[2017-09-12 07:22] GowthamShanmugam commented on #75
@r0h4n this is fixed we can close the issue

[2017-09-12 09:56] rishubhjain commented on #62
https://github.com/Tendrl/tendrl-ansible/issues/32

[2017-09-12 09:57] rishubhjain commented on #62
https://github.com/Tendrl/tendrl-ansible/issues/32

[2017-09-12 12:56] GowthamShanmugam opened #88 "Monitoring integration not handling capacity utilization alerts which is come come from grafana"
Monitoring integration needs a new alert handler for handle capacity utilization alerts.

[2017-09-12 19:37] julienlim opened #91 "Gluster - Host At-A-Glance (Grafana host dashboard): Label and y-axis metric changes"
In reviewing the "Gluster - Host At-A-Glance" dashboard, to make some of the charts more clear to the user, I'd suggest the following modifications:

Label Changes:
* Memory —> Memory Utilization
* Swap —> Swap Utilization
* CPU —> CPU Utilization
* Dropped Packets —> Dropped Packets Per Second
* Errors —> Errors Per Second

“Disk Load” Chart
* Can we change the metrics shown to bps, kbps, Mbps, e

[2017-09-13 04:40] cloudbehl opened #92 "New Grafana dashboards(Cluster, Host, volume, Bricks) for Milestone 3"

[2017-09-13 05:43] rishubhjain opened #93 "Changes needed to support brick path change"
Monitoring_integration picks up bricks from etcd, since there are changes in brick path, some changes needs to be reflected in Monitoring-integration

[2017-09-13 06:41] #75 closed

[2017-09-13 10:00] dahorak opened #95 "Historical data for graphs in Grafana older than 24 hours are missing"
There are no data in graphs in Grafana (and Graphite) older than 24 hours.

What's the default time for keeping historical data for graphs? (for example Throughput Trend, Ping Latency Trend, Memory, CPU, Swap, Capacity Utilization Trend and others)

Most of the graphs doesn't make much sense for such short period.

Following *Throughput Trend* is from cluster running for more than two days, but th

[2017-09-13 10:08] rishubhjain opened #96 "Missing paramater"
https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/grafana/create_alert_dashboard.py#L53 missing parameter self

[2017-09-13 10:10] rishubhjain opened #97 "Wrong alert state"
Alert_state here https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/grafana/create_dashboards.py#L157 must be keep_state

[2017-09-13 12:25] TimothyAsirJeyasing opened #101 "Add vonage status panel for tendrl grafana"
Need a separate package for vonage status panel plugin for tendrl grafana.

[2017-09-13 18:16] mbukatov commented on #33
I retried with `tendrl-monitoring-integration-1.5.1-20170913T163914.7eb80a2.noarch` and the problem persists.

[2017-09-13 18:34] TimothyAsirJeyasing commented on #33
Seems like some connectivity issue.
Add after clause in the systemd service configuration
After= network.target multi-user.target

[2017-09-13 18:41] mbukatov commented on #33
Hmm, but the unit file already contains:

[code]

would that make any difference?

[2017-09-14 08:19] rishubhjain commented on #33
@mbukatov I guess to handle this issue we will have to place some workarounds.
If possible can you handle this issue via ansible?

One functionality provided by ansible can be helpful to solve this issue
http://docs.ansible.com/ansible/latest/wait_for_module.html

[2017-09-14 12:41] mbukatov commented on #33
@rishubhjain such workaround would work only if we know what the root cause is exactly and at the same time we are sure that the problem doesn't occur in any other case. Based on my understanding of the problem so far, this is not the case.

[2017-09-14 13:06] rishubhjain opened #105 "Import cluster doesnot fire job in Monitoring-integration to create alert dashboard"
Monitoring-integration must update alert dashboard if the new cluster is imported

[2017-09-15 13:03] mbukatov commented on #33
The issue seems resolved since `tendrl-monitoring-integration-1.5.1-20170915T172525.660d31a.noarch`, the service is up and running, there is no evidence of a crash in tendrl-monitoring-integration logs.

[2017-09-15 13:09] #33 closed

[2017-09-16 03:57] cloudbehl opened #112 "Dashboard status panel value fix"
The numeric values in the status were not coming correctly.

[2017-09-16 11:22] GowthamShanmugam opened #117 "Keep last state for nodata alert in grafana"
grafana pushes a lot of no data alerts into monitoring integration, monitoring integration skips no data alerts but when no_data alert clears it to push ok alerts into monitoring integration. So the ok alerts also skipped in node_agent but it is still going into notifications. so notification dumps the ui. So we need to set Keep Last State for no_data while creating alerting dashboard.

[2017-09-16 11:25] GowthamShanmugam opened #118 "grafana alert name mismatch with handler name"
Alerts for brick utilization and volume utilization from grafana have the same alert name like Capacity Utilization Trend Alert, so handler in monitoring integration unable to differentiate the alerts. So while creating the alert need to give some key with alert names like brick or volume. And capacity utilization handler in monitoring integration is not required anymore.

[2017-09-16 12:57] nthomas-redhat opened #120 "Healing data is not displayed on the dashboard"

[2017-09-18 06:38] GowthamShanmugam commented on #118
@rishubhjain This issue is solved, I am closing this issue

[2017-09-18 06:38] #118 closed

[2017-09-18 06:39] GowthamShanmugam commented on #117
@rishubhjain this issue is solved, So I am closing this

[2017-09-18 06:39] #117 closed

[2017-09-18 06:39] GowthamShanmugam commented on #88
@rishubhjain This issue is not required anymore, So I am closing this

[2017-09-18 06:40] #88 closed

[2017-09-18 06:53] rishubhjain commented on #112
@cloudbehl can you close this issue?

[2017-09-18 06:53] #105 closed

[2017-09-18 06:54] rishubhjain commented on #101
@TimothyAsirJeyasing Can we close this issue?

[2017-09-18 06:54] #97 closed

[2017-09-18 06:54] #96 closed

[2017-09-18 06:55] #93 closed

[2017-09-18 06:55] rishubhjain commented on #92
@cloudbehl Please close the issue

[2017-09-18 06:55] #82 closed

[2017-09-18 06:56] #71 closed

[2017-09-18 06:56] #62 closed

[2017-09-18 06:56] #60 closed

[2017-09-18 06:57] rishubhjain commented on #53
@anmolbabu Can you check if the issue is resolved?, and if yes then can we close the issue?

[2017-09-18 07:35] rishubhjain commented on #20
@nthomas-redhat Please close this issue

[2017-09-18 08:55] #39 closed

[2017-09-18 08:55] #32 closed

[2017-09-18 09:01] rishubhjain commented on #49
@cloudbehl Thanks for solving the issue, Will close the issue

[2017-09-18 09:01] #49 closed

[2017-09-18 12:03] nnDarshan opened #123 "Monitoring integration should monitor host status"
node context object has a status attribute, whose value will be `UP` if node is up and running. Whenever node goes down, the status attribute will vanish due to ttl set on the attribute. Monitoring integration should use this attribute to determine the host status and use it appropriately

[2017-09-18 14:31] mbukatov opened #125 "Configuration file monitoring-integration.conf.yaml with etcd root password is readable for every account"
## Description

Configuration file `/etc/tendrl/monitoring-integration/monitoring-integration.conf.yaml` can now contain username and password for etcd admin access, but the file is still packaged as world readable.

## Version

Latest snapshot build from master branch (it's part of [upcoming 1.5.2 version](https://github.com/Tendrl/specifications/milestone/1)):

[code]

## Steps to Reproduce

1.

[2017-09-18 14:46] mbukatov commented on #125
When I noticed this problem in one case, I run the following commands on both Tendrl Server and Tendrl Storage Node machines to find out all affected Tendrl components:

[code]

As you can see, all config files with the password are readable for every local unix account.

[2017-09-19 09:05] anmolbabu commented on #53
@rishubhjain Let me know if you have a PR to fix this and if its merged and I can close this..

[2017-09-19 09:10] rishubhjain commented on #53
@cloudbehl can you confirm if you are receiving all the counters mentioned by @anmolbabu from monitoring-integration

[2017-09-19 10:16] rishubhjain opened #126 "Inserting unmanaged clusters in Graphite"
Monitoring-integration is inserting cluster details of unmanaged clusters in graphite which is not needed.

[2017-09-19 10:19] rishubhjain commented on #125
@r0h4n I would like to know what changes I need to make to solve this issue.

[2017-09-19 10:20] rishubhjain commented on #123
@nnDarshan I guess this is not needed anymore, can you close this issue?

[2017-09-19 11:26] nnDarshan commented on #123
Not needed anymore as plan is to update the status as down in node-agent itself

[2017-09-19 11:26] #123 closed

[2017-09-19 12:40] #126 closed

[2017-09-20 06:34] cloudbehl commented on #112
@rishubhjain yes

[2017-09-20 06:34] #112 closed

[2017-09-20 06:45] #92 closed

[2017-09-20 06:47] cloudbehl commented on #74
@julienlim Can you verify with new build and if fixed please close this Issue.

[2017-09-20 06:51] cloudbehl commented on #91
@julienlim Issue's has been addressed, please verify.

[2017-09-20 06:51] rishubhjain commented on #125
@mbukatov can we close this issue?

[2017-09-20 06:52] cloudbehl commented on #67
@julienlim @mcarrano ^^

[2017-09-20 06:52] cloudbehl commented on #95
linking: https://github.com/Tendrl/monitoring-integration/issues/59

[2017-09-20 06:54] cloudbehl commented on #57
This Issue has been addressed now.

Now we have Volume to brick linkage in volume dashboard
Host to brick linkage in host dashboard.

[2017-09-20 06:54] #57 closed

[2017-09-20 06:55] cloudbehl commented on #53
@rishubhjain Yes, I am receiving all(total, up, down) the brick counter, please go ahead and close the Issue.

[2017-09-20 06:55] cloudbehl commented on #59
Duplicate #95

[2017-09-20 06:55] #59 closed

[2017-09-20 06:56] rishubhjain commented on #53
@anmolbabu please close this issue

[2017-09-20 06:57] cloudbehl commented on #44
@r0h4n the Issue is fixed please close.

[2017-09-20 06:58] cloudbehl commented on #43
Now It doesn't show Internal Server Error if the data is not available for a day.

[2017-09-20 06:59] cloudbehl commented on #43
@fbalak Please verify this Issue and reopen if required.

[2017-09-20 06:59] #43 closed

[2017-09-20 06:59] rishubhjain commented on #51
@mkudlej Is this bug stilll reproducable?

[2017-09-20 07:01] cloudbehl commented on #25
@Daniel-Pivonka please verify the Issue if it's still reproducible. Otherwise, close the Issue.

[2017-09-20 07:03] #15 closed

[2017-09-20 07:04] cloudbehl commented on #24
Alert dashboard is now different from actual dashboard which is no more using the templating variables.

[2017-09-20 07:04] #24 closed

[2017-09-20 07:08] cloudbehl commented on #27
@mbukatovIt seems to be a good report can you verify all this in 3rd milestone and generate a similar kind of report.

[2017-09-20 07:11] rishubhjain commented on #34
@mbukatov I guess now the instructions in readme are not used to install Monitoring-Integration, I will update readme but I guess this issue can be closed

[2017-09-20 08:08] #44 closed

[2017-09-20 08:32] #53 closed

[2017-09-20 11:35] rishubhjain commented on #21
@mkudlej @mbukatov The issue has been addressed, Please verify
Now grafana.ini is copied to /etc/tendrl/monitioring-integration/grafana/ (https://github.com/Tendrl/monitoring-integration/blob/master/tendrl-monitoring-integration.spec#L59) instead of /etc/grafana/, So this issue is no more reproducable

[2017-09-20 16:49] julienlim commented on #25
@cloudbehl Daniel Pivonka (was interning) and will not be able to reproduce to verify the issue.

I think @Tendrl/tendrl-qe should verify the data as part of their testing, and only upon verification should this issue be closed.

[2017-09-20 16:51] julienlim commented on #67
@cloudbehl Can you add a screenshot of what you're referring to?  It's hard to comment otherwise.  Thanks.

[2017-09-20 18:07] mbukatov commented on #25
@julienlim ack, I have created a tracker issue for us to come up with some test cases for this

[2017-09-21 04:35] #101 closed

[2017-09-21 04:39] #20 closed

[2017-09-21 05:02] nthomas-redhat commented on #22
This bug is not valid anymore. The navigations and the drill downs are modified and bricks are always in the context of hosts. Please have a look at the latest and re-open the issue if you find any discrepancies

[2017-09-21 05:02] #22 closed

[2017-09-21 05:11] nthomas-redhat commented on #27
I think this should be captured in wiki rather than in a git issue. If there are specific  issues, raise it as individual issues. I am closing this issue

[2017-09-21 05:11] #27 closed

[2017-09-21 06:21] rishubhjain commented on #120
@nthomas-redhat Please verify whether the issue has been resolved or not.

[2017-09-21 06:23] rishubhjain commented on #91
@julienlim PR -> https://github.com/Tendrl/monitoring-integration/pull/122 solves this issue, please verify

[2017-09-21 07:25] rishubhjain commented on #77
@mkudlej Is it really required?, I dont see it in any other tendrl component (https://github.com/Tendrl/gluster-integration/blob/master/tendrl-gluster-integration.service, https://github.com/Tendrl/api/blob/master/tendrl-api.service,https://github.com/Tendrl/notifier/blob/master/tendrl-notifier.service, https://github.com/Tendrl/node-agent/blob/master/tendrl-node-agent.service)

[2017-09-21 08:28] cloudbehl opened #130 "Decimal correction for the counter panels"

[2017-09-21 09:04] rishubhjain commented on #78
@mkudlej ack, as per discussion with @r0h4n  and @GowthamShanmugam I will remove the monitoring_integration_logging.yaml file as it is not needed

[2017-09-21 12:40] rishubhjain commented on #125
@mbukatov monitoring-integration.conf.yaml is read by monitoring-integration as well, so I am afraid changing the permission might block this read. Could you test Monitoring-integration again with this change?

I tested it my local machine, the service needs root privilege to work as per expectation.

[2017-09-21 12:44] mbukatov commented on #125
@rishubhjain does it mean we should make the config files to belong to tendrl unix group?

[2017-09-21 12:48] rishubhjain commented on #125
Ya I think so, may be we can test it to see whether its running without making any other change.
I will also test on a VM to be sure

[2017-09-21 13:01] mbukatov commented on #21
Ok, the scriptlets no longer touch rpmnew or rpmold files:

[code]

That said, we should be using `%attr` to specify access rights, including unix group directly, instead of running `chgrp` in a post script. But that's out of scope of this issue.

I consider this issue fixed since `tendrl-monitoring-integration-1.5.2-20170921T072407.1e2a7e6`.

[2017-09-21 14:12] rishubhjain opened #133 "Default dashboard gets created in alert organisation."
When monitoring-integration is restarted the default dashboards are created again in alert organisation because of context switch

[2017-09-21 20:00] r0h4n commented on #125
Umm, tendrl services are assumed to be run as root. So i think no further changes are required

[2017-09-22 05:07] GowthamShanmugam opened #134 "No need to copy logging.yaml.timedrotation.sample while installing monitoring_integration"
Log functionalities are happening only in node agent, monitoring_integration is passing the log messages to node_agent and node_agent is actually doing logging. So no need to maintain logging.yaml.timedrotation.sample in monitoring integration.

[2017-09-22 05:38] GowthamShanmugam commented on #78
Tendrl/monitoring-integration#134

[2017-09-22 05:54] rishubhjain commented on #78
Is this tested ?

[2017-09-22 07:27] GowthamShanmugam commented on #78
@rishubhjain yes

[2017-09-22 07:34] rishubhjain commented on #134
@GowthamShanmugam The PR is merged, please close the issue

[2017-09-22 07:35] rishubhjain commented on #125
@mbukatov In that case I guess this issue is fixed, @mbukatov Please verify and close this issue

[2017-09-22 07:36] rishubhjain commented on #78
@mkudlej This issue has been addressed and resolved, Please verify and close the issue

[2017-09-22 07:38] GowthamShanmugam commented on #134
@rishubhjain ok

[2017-09-22 07:39] GowthamShanmugam commented on #134
@rishubhjain this issue is fixed, So I am closing this

[2017-09-22 07:39] #134 closed

[2017-09-22 08:03] rishubhjain opened #136 "Use of private variables of third party library"
Example https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/grafana/grafana_org_utils.py#L32

Use response.content instead of response._content.

[2017-09-22 08:24] #136 closed

[2017-09-22 08:24] #133 closed

[2017-09-22 08:29] rishubhjain commented on #95
@dahorak The changes are in and the PR are merged, can you verify if the issue is solved?
@anmolbabu Any comments from your side?

[2017-09-22 08:43] anmolbabu commented on #95
Nope

[2017-09-22 09:16] dahorak commented on #95
I've tried to find some specification related to this topic (length of historical data in graphs), but didn't find anything (maybe just miss it), so if following questions are already answered, please redirect me to the right doc.

Would it be possible to configure the time for keeping historical data somehow slightly more cleverly? I mean, that for some kind of data is 180 days definitely enough

[2017-09-22 10:29] cloudbehl opened #137 "Add grafana dashboard screenshots for milestone 3"

[2017-09-25 15:49] GowthamShanmugam opened #139 "Fix pep8 error in monitoring-integration"

[2017-09-26 06:08] GowthamShanmugam opened #141 "Add code quality check plugins for pull request"

[2017-09-26 08:02] mbukatov commented on #125
Verifying with `tendrl-monitoring-integration-1.5.2-20170926T072406.6f3f855.noarch`:

[code]

Additional check doesn't show any problems either:

[code]

And yes, the service runs under root right now:

[code]

[2017-09-26 08:02] #125 closed

[2017-09-26 08:07] mbukatov commented on #35
Package `tendrl-monitoring-integration-1.5.2-20170926T072406.6f3f855.noarch` seems to be still affected.

[2017-09-26 08:13] mbukatov commented on #34
@rishubhjain When I open the readme file, I still see the installation instructions there. And while you are right that the main description of Tendrl installation is placed elsewhere (tendrl wiki), I don't think it's good practice to keep broken installation instructions in the readme file.

We have 2 options, either update the instructions in the readme, or just remove the instructions from the

[2017-09-26 08:19] rishubhjain commented on #34
@mbukatov I will provide a link to the tendrl wiki in the readme file of Monitoring-integration

[2017-09-26 08:23] rishubhjain commented on #23
@ltrilety The PR required to solve this issue is merged, can you verify whether the issue is resolved or not?
cc @shtripat

[2017-09-26 09:06] GowthamShanmugam opened #143 "Need to add this repository in coverall and codacy 3rd party tools to calculate code quality"

[2017-09-26 09:06] GowthamShanmugam commented on #143
@rishubhjain @r0h4n

[2017-09-26 09:07] GowthamShanmugam commented on #141
Tendrl/monitoring-integration#143

[2017-09-26 09:08] GowthamShanmugam commented on #139
This issue is solved, i am closing this issue.

[2017-09-26 09:08] #139 closed

[2017-09-26 09:09] rishubhjain commented on #137
@cloudbehl Please close the issue

[2017-09-26 09:30] #137 closed

[2017-09-26 09:35] anivargi opened #144 "Grafana Dashboards are not using SSL when SSL is configured for Tendrl"
Details at https://github.com/Tendrl/api/issues/303

[2017-09-26 10:39] rishubhjain commented on #143
@GowthamShanmugam Please close the issue, the PR is merged

[2017-09-26 10:39] rishubhjain commented on #141
@GowthamShanmugam Please close the issue, the PR is merged

[2017-09-26 10:52] GowthamShanmugam commented on #141
This issue is fixed i am closing this

[2017-09-26 10:52] #141 closed

[2017-09-26 10:54] GowthamShanmugam commented on #143
@rishubhjain this should be comment by @r0h4n after that only I can close

[2017-09-26 14:03] mkudlej opened #145 "5 from 6 nodes are down and grafana doens't reflect it"
I have cluster with 6 nodes and I've turn off 5 of them. Some charts in Grafana dashboards don't reflect that, please see screenshots. There is only one volume.

Here should be marked that one volume as *Partial* and 10 from 12 bricks should be down.
![bugdown_at_glance1](https://user-images.githubusercontent.com/5920442/30864078-f06a8700-a2d2-11e7-9119-423ef21b5225.png)

Only *gl1* machine is up

[2017-09-26 14:08] rishubhjain commented on #145
@mkudlej Thanks for reporting the issue, There are some details I require to debug this issue.
Whats the time interval between turning off nodes and checking the dashboards in grafana?

[2017-09-26 15:31] fbalak opened #146 "Network row in Hosts dashboard differs from design"
In specification for [Hosts dashboard](https://github.com/Tendrl/specifications/issues/223) are defined panels:

but panels in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui differ:

![926_networkpanel](https://user-images.githubusercontent.com/22369801/30868686-a0c6dcf0-a2df-11e7-8e2b-0f5c0da3ac80.png)

Present panels are:

- Throughput
- D

[2017-09-26 15:59] fbalak opened #147 "Capacity row is not separated in Volumes dashboard"
In specification for [Volumes dashboard](https://github.com/Tendrl/specifications/issues/224) is row Capacity separated by title from At-a-glance row.In [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui they are not separated:

![926_separetedrows](https://user-images.githubusercontent.com/22369801/30870524-5627450e-a2e4-11e7-949b-66e767fb4325.

[2017-09-27 06:44] cloudbehl commented on #146
@fbalak Changed as per the requirements provided by @julienlim in Issue https://github.com/Tendrl/monitoring-integration/issues/91.

@julienlim Please acknowledge!

Also, the "Overruns Trend" was not possible so it's not there.

[2017-09-27 06:47] rishubhjain opened #148 "Flow is required to delete data from graphite"
https://github.com/Tendrl/gluster-integration/issues/435

[2017-09-27 06:57] rishubhjain commented on #148
As per discussion with @shtripat, we were able to finalise an approach to delete graphite data when a resource is deleted. The approach is as follows:
- When the flow is called with required details, the flow will look for the whisper file with that detail and move that file under archives at the cluster level. The archive will be stored with time stamp so as to reduce ambiguity.
Example: If volum

[2017-09-27 07:05] rishubhjain commented on #148
@r0h4n Please verify if the approach is appropriate

[2017-09-27 07:51] fbalak opened #149 "Missing performance panels in Volumes dashboard"
In [specification for Volumes dashboard](https://github.com/Tendrl/specifications/issues/224) in Row 3 are defined panels:

but in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui is only panel Throughput (IOPS in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics)):

![227_throughput](https://user-images.githubuserco

[2017-09-27 08:02] fbalak opened #150 "Missing Reads and Writes panel in Volumes dashboard"
In [specification for Volumes dashboard](https://github.com/Tendrl/specifications/issues/224) in Row 5 is defined panel:

https://github.com/Tendrl/specifications/issues/224#issuecomment-321875857

but in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui is this panel missing:

![927_readswrites](https://user-images.githubusercontent.com/223698

[2017-09-27 08:03] mkudlej commented on #145
I've forgotten to input here list of pkgs:
[code]

Time between turning off machines and these screenshots is more than 2 days.

[2017-09-27 09:13] fbalak opened #151 "Panels in Gluster-at-glance dashboard contain tables instead of graphs"
In [specification for Gluster-at-glance dashboard](https://github.com/Tendrl/specifications/issues/222) are following panels defined as graphs:

but in [Metrics documentation](https://github.com/Tendrl/documentation/wiki/Metrics) and in the implemented ui are those panels presented as tables:

![927_graphs](https://user-images.githubusercontent.com/22369801/30905294-af742dda-a374-11e7-9cf5-c7c3bf4

[2017-09-27 13:38] fbalak opened #152 "2 Throughput panels in Bricks dashboard"
There are 2 Throughput panels in Bricks dashboard. I do not see any describtion for Throughput panel in [design document](https://github.com/Tendrl/specifications/issues/230). It seems to me little confusing to have two equally named panels on one dashboard. There are also no values displayed in these panels.

![927_throughput](https://user-images.githubusercontent.com/22369801/30915069-d487b378-a

[2017-09-27 14:50] mkudlej commented on #78
Conf file was removed and is no longer in tendrl-monitoring-integration-1.5.2-20170925T072405.6f3f855.noarch

[2017-09-27 14:50] #78 closed

[2017-09-27 14:58] mkudlej commented on #77
@rishubhjain I've filed similar issues for other components too.
The idea here is to have at least some documentation for Tendrl daemons because they haven't manpages. I think adding one file with link to README on github for component is OK.

[2017-09-28 07:00] nigelbabu opened #153 "On a default install, grafana start fails"
From journalctl

[code]

This is fixed with` chown root:grafana /etc/tendrl/monitoring-integration/grafana/grafana.ini`

[2017-09-28 07:01] rishubhjain commented on #153
@r0h4n I guess this issue is because of changed permissions in https://github.com/Tendrl/monitoring-integration/pull/127

[2017-09-28 14:13] julienlim commented on #146
@fbalak @cloudbehl If "overruns trend" not possible, we can leave that off, but probably put in a RFE for it.

[2017-09-29 06:43] nigelbabu opened #155 "Main dashboard says volume down, but volume dashbaord says all is well"
My cluster had one node down. Now the nodes is back online and functional, but Tendrl seems to think the volume is down on the main dashboard, however, the volume dashboard says all is well. This has since recovered over time by itself. Not sure why it took so long to change status.

[2017-09-29 08:00] rishubhjain commented on #155
@cloudbehl We will have to use state instead of status to display Volume Health in grafana volume dashboard, and also modify the mapping
cc: @shtripat

[2017-10-01 07:14] r0h4n commented on #153
@rishubhjain the solution here would be to ensure the said  grafana.ini file belongs to group "grafana"

The PR you have provided simply allows "others" to read grafana.ini which is wrong IMO

[2017-10-02 19:27] julienlim opened #157 "Grafana: Status panels sometimes missing data or say Invalid number"
In the Gluster-at-a-glance dashboard, some of the 0 values are not shown (I changed time interval to 2 days) or show as blank. In one case (Bricks), it says "Down - Invalid Number"
![screen shot 2017-10-02 at 3 24 38 pm](https://user-images.githubusercontent.com/5589919/31095244-2e03e838-a786-11e7-942d-19775fd55eeb.png)

@cloudbehl

[2017-10-03 08:44] rishubhjain opened #158 "Alert dashboard not found"
If the alert dashboard contains 1 volume and if that volume is deleted then the alert dashboard becomes empty and on creating a new volume, no panels are found in volume dashboard so the update_dashboard flow throws dashboard not found error.

[2017-10-03 12:32] dahorak opened #159 "Duplicated Volumes in Grafana"
Gluster volumes containing upper case letters are duplicated in Grafana - once with original name, second time in lover case.

[code]

![grafana_duplicated_volumes](https://user-images.githubusercontent.com/4759779/31125075-5f14f400-a847-11e7-8302-049397a65af8.png)

[code]
[code]

[2017-10-03 13:07] fbalak opened #160 "Missing data related to volume"
There are no related data to Volumes dashboard in grafana. Not even if it is `up`. Also numbers in `Volumes` panel in Gluster-at-glance dashboard doesn't seem right. (There is one volume that is up.)

![104_gluster_detail](https://user-images.githubusercontent.com/22369801/31126333-b8983cd6-a84b-11e7-9ac5-6bf0eceee1e3.png)

![104_volume_detail](https://user-images.githubusercontent.com/22369801/31

[2017-10-04 07:21] cloudbehl opened #161 "Grafana dashboard panels missing light gray background fill"
link- https://github.com/Tendrl/ui/issues/649

[2017-10-04 07:51] rishubhjain opened #162 "Upload volume/node/brick only if resource is not deleted"
With respect to changes done in https://github.com/Tendrl/gluster-integration/issues/439. Monitoring-Integration is required to upload volume/node/brick details to graphite only if the resource is not deleted

[2017-10-04 09:19] rishubhjain commented on #145
@mkudlej if possible please update node-agent on each nodes. The nodes now have ttl which deletes the nodes from etcd if the node is removed.
Please also inform if you are able to reproduce this issue after updating node-agents

[2017-10-04 12:26] rishubhjain commented on #160
@fbalak Can you check whether Monitoring-integration is working or not? The data seems to be not getting pushed in graphite.

[2017-10-04 12:31] rishubhjain commented on #159
@dahorak The graphite might be populated with lower case volume name, If possible please provide tendrl-server ip, I would like to check graphite details. Also did you create any other volumes with such names in past?

[2017-10-04 12:35] rishubhjain commented on #157
@julienlim We would like to know which tendrl-build is being used.
If possible please provide tendrl-setup details

[2017-10-04 13:02] dahorak commented on #159
Now it seems, it might be related only to volumes created after the Gluster cluster is imported into Tendrl.

[2017-10-04 13:45] mkudlej commented on #145
I see change with (last packages from today master)
[code]
but still info in charts is not correct.
Issues:
### at-glance dashboard
1) wrong hosts chart: ```Total: 6, Up:5, Down:0 - colour green```
2) wrong volumes chart: ```Total: 1, Degraded:0, Down:1``` It should be ```Total:1, Degraded: 1, Down: 0```
3) wrong bricks chart: ```Total: 12, Up: 12, Down:0``` which should be ```Total: 12, Up: 10, D

[2017-10-04 14:19] mbukatov commented on #157
@mbukatov fyi

[2017-10-04 14:20] fbalak commented on #160
After reinstallation of tendrl it works as expected. I will reopen this issue and update if I will encounter this again.
Tested with:
[code]

[2017-10-04 14:20] #160 closed

[2017-10-04 15:35] julienlim opened #164 "Host Dashboard: Change Memory Free panel to Memory Available panel"
The implemented Memory Free panel in Grafana looks correct per design (Tendrl/specifications#223 Panel 10: Memory Free - show memory that is available for the host
chart type: Gauge).

Memory Free calculates with total memory and buff/cache, but it would make more sense to see what memory is really available (without buff/cache).  Right now, memory free looks kind of scary but in fact there is sti

[2017-10-04 16:04] mkudlej opened #165 "monitoring doesn't count with quota"
I've set quota and completely filled up volume by data(hard limit is reached) and

1. I don't see any alert in Grafana that soft and hard limit were reached.
2. All relevant charts for showing utilization don't reflect hard limit so user still see that there is free space even it is not possible to write any new files to volume.

GStatus doesn't show and count with quota either but I expect that T

[2017-10-04 16:17] mbukatov commented on #164
All these memory related terms are well defined (see `man free`):

[code]

This means that:

* if we call something memory free, it should match `MemFree` value in `/proc/meminfo`, which is what `free` reports as free
* while I agree that's not useful to report only memory free value (we don't see how much of memory is buffer or cache), we can't fix that by redefinition of what memory free means

[2017-10-04 16:34] mkudlej opened #166 "grafana doesn't show properly rebalance info"
After rebalance I see this info
[code]
but there is wrong info in Grafana, see screenshot.

![bug_rebalance](https://user-images.githubusercontent.com/5920442/31187431-2ea7649c-a932-11e7-8065-4facae3cbc26.png)

And sometimes there is some data but it is not correct.
![bug_rebalance1](https://user-images.githubusercontent.com/5920442/31187585-9ff23d0c-a932-11e7-919b-6f7fab5e431c.png)

[2017-10-04 16:36] mkudlej commented on #166
I've forgotten to ad set of packages:
[code]

[2017-10-04 20:01] julienlim commented on #157
@rishubhjain I installed using tendrl-ansible on Sept 29 2017.  I'm not sure which build it is.  Is there an easy way to find out which build I'm using?
I'm running this on my vagrant boxes on my laptop.

[2017-10-05 05:32] ltrilety commented on #164
I vote for using `memory_available` nonetheless. I agree it's tricky and it doesn't always shows exact number, but for our need that's quite enough. However the panel name should probably be changed to more proper name like 'Memory Available' to correspond with what command `free` reports. Moreover as @mbukatov points out `memory_free + memory_available + shared` doesn't make sense, just `memory_a

[2017-10-05 05:43] rishubhjain commented on #159
@dahorak I looked up graphite, it seems you had created TestVolumeB and TestVolumeC in the past and deleted those volumes, deleting volume from gluster cluster doesn't remove volume from graphite because of which you are able to see that volume in grafana.
We are aware of this issue(resource details remain in graphite even after resource getting deleted from gluster cluster), and have sent a patch

[2017-10-05 06:42] dahorak commented on #159
This assumption was wrong, it probably takes some time, but it apply to all volumes containing upper case letters, no matter when they were created.

[2017-10-05 06:43] dahorak commented on #159
@rishubhjain I didn't delete any Volume, the volumes are still present:

[code]

[2017-10-05 07:54] anmolbabu commented on #166
The issue is that the key for rebalance related counters in get-state o/p(ex: volume1.rebalance.failures) although seems to appear as if it were an aggregate data applying at the volume level, it actually infact applies to node on which get-state cmd is run but for a particular volume level. This was mis-interpreted by collectd to be an info at volume level as the key suggests.

An issue to fix th

[2017-10-05 09:14] cloudbehl opened #167 "Grafana is using status for volume status but the appropriate value is"
Grafana is using status for volume status but the appropriate value is available in state. So need to map the query to state and update the mappings.

[2017-10-05 11:33] shtripat commented on #145
There was an issue with node sync from monitoring-integration. The same is corrected and PR is sent.

[2017-10-05 12:38] #148 closed

[2017-10-05 12:41] rishubhjain opened #169 "Mark bricks of disconnected host as down"
In reference to https://github.com/Tendrl/monitoring-integration/issues/145, When the host is deleted/detached there is requirement to mark the bricks connected to that particular node as "DOWN"
The ttl seems not be set for bricks and hence bricks doesnt get deleted automatically.

Monitoring-integration recognises the event of host disconnect and hence can mark the disk as "DOWN"

@r0h4n @shtripa

[2017-10-05 12:44] r0h4n commented on #169
@nnDarshan  @shtripat why do bricks dont have a TTL set?

[2017-10-05 12:47] r0h4n commented on #145
@shtripat @rishubhjain Is the PR verified to fix the host status issue?

[2017-10-05 12:51] shtripat commented on #169
@r0h4n as per https://github.com/Tendrl/gluster-integration/blob/master/tendrl/gluster_integration/sds_sync/__init__.py#L571 it does have ttl being set. We need to debug once and find why its not set in etcd properly.

[2017-10-05 12:54] rishubhjain commented on #145
@mkudlej Thank you for reporting the issue, Here's an update on the issue:
1) Regarding the host not being down even after getting disconnected:
    https://github.com/Tendrl/monitoring-integration/pull/168 Solves that particular issue. If possible
    please verify it by updating tendrl-monitoring-integration and restarting it.

2) Regarding Volume showing down instead of degraded:
    We are wor

[2017-10-05 12:56] rishubhjain commented on #145
@r0h4n Yes, the PR is merged and has been tested. But it solves only the host status issue.

[2017-10-05 15:53] mbukatov opened #170 "Add example of options for etcd client-server tls auth into sample config file"
Since [we are planning to use](https://github.com/Tendrl/documentation/wiki/Tendrl-with-a-secure-etcd-cluster) [etcd client-server tls authentication](https://coreos.com/etcd/docs/latest/op-guide/security.html), we need to add commented configuration options for this into sample config file.

## Details

See an example from [node-agent.conf.yaml.sample
](https://github.com/Tendrl/node-agent/blob/m

[2017-10-06 03:54] nthomas-redhat commented on #144
Per the last discussion, this will be implemented as part of https://github.com/Tendrl/tendrl-ansible/issues/30

[2017-10-06 03:58] nthomas-redhat commented on #120
Closing  as the issue is already fixed

[2017-10-06 04:01] nthomas-redhat commented on #157
This issue is already fixed as part of https://github.com/Tendrl/monitoring-integration/issues/112
fixes are already there is master.

[2017-10-06 04:01] #157 closed

[2017-10-06 06:05] shtripat commented on #169
@rishubhjain I suspect somehow its due to https://github.com/Tendrl/gluster-integration/blob/master/tendrl/gluster_integration/sds_sync/brick_device_details.py#L77 as its not loading and then setting the fields for the brick while updating the device details. Need to update this piece of code and test once.

[2017-10-06 07:20] nthomas-redhat commented on #165
@mkudlej , Quota is not commited for the upcoming release. Marking this as an RFE, we will take this up in an upcoming release.

[2017-10-06 07:50] nthomas-redhat commented on #166
@anmolbabu , As per our discussion collectd can push the node level rebalance data to graphite and then grafana should run a sum query to get aggregate volume level stats. In summary we need to sum up all node level data to get volume level stats.
@shtripat @brainfunked ^

[2017-10-06 08:05] cloudbehl opened #171 "Values not coming on bricks page in grafana"
If there is one volume in a cluster and "All" property is selected in a dropdown in grafana. Then the values are not getting displayed.

![](https://user-images.githubusercontent.com/5920442/30864222-4ef62022-a2d3-11e7-80fa-4670e6566523.png)

The bug is in grafana, if one value in a drop-down and "All" property is selected then data is not shown.

[2017-10-06 08:22] shtripat commented on #166
@nthomas-redhat I agree as the details like `rebalanced_files`, `rebalanced_size`, `skipped` and `failed` are sum for all the nodes at volume level.

The estimated time to complete and overall rebalance status at volume level is already taken care by gluster-integration and available at volume level in etcd.

[2017-10-06 08:27] nthomas-redhat commented on #167
@cloudbehl , same is applicable for volume status panel on the main dashboard.

![screenshot from 2017-10-06 13-55-43](https://user-images.githubusercontent.com/6671718/31269510-55dc1996-aa9e-11e7-8a52-3e6d85fbc506.png)

[2017-10-06 09:08] rishubhjain commented on #158
During Import cluster if a particular dashboard(Brick/Volume) is empty but the host dashboard exists then the alert dashboards for the imported cluster will fail.

[2017-10-06 10:05] rishubhjain commented on #169
@r0h4n @shtripat https://github.com/Tendrl/gluster-integration/pull/442 Solves the brick issue, There is a need to mark the brick as down when the host containing the brick is down. but it will have some rep-recursion, for example:, when the node is up again , who will modify the value of brick as up again. I feel there is a need for discussion before implementing the solution.

[2017-10-06 10:06] #120 closed

[2017-10-06 10:08] rishubhjain commented on #91
@nthomas-redhat This issue is resolved, Please verify and close the issue

[2017-10-06 10:10] nthomas-redhat commented on #152
What you see is brick throughput and the underlying physical device throughput

[2017-10-06 10:10] rishubhjain commented on #95
@anmolbabu @cloudbehl @nthomas-redhat Please comment on @dahorak 's comment

[2017-10-06 10:16] nthomas-redhat commented on #95
@dahorak , This is an RFE, Can you file a different issue to track this?

[2017-10-06 10:17] nthomas-redhat commented on #74
@julienlim , We have verified this issue and hence closing this. if find it again, please re-open the issue

[2017-10-06 10:17] #74 closed

[2017-10-06 10:19] rishubhjain commented on #143
@r0h4n Verification needed before deleting this issue

[2017-10-06 10:38] nthomas-redhat commented on #34
@mbukatov , is this a valid issue or fixed?

[2017-10-06 10:39] nthomas-redhat commented on #25
This issue verified. Please re-open if you find it otherwise

[2017-10-06 10:39] #25 closed

[2017-10-06 10:42] nthomas-redhat commented on #21
@rishubhjain , @TimothyAsirJeyasing , Please fix this issue

[2017-10-06 10:43] nthomas-redhat commented on #23
Closing this as it is verified

[2017-10-06 10:43] #23 closed

[2017-10-06 10:47] rishubhjain commented on #21
@nthomas-redhat This is issue is already fixed, @mbukatov has mentioned it in his previous comment.
"I consider this issue fixed since tendrl-monitoring-integration-1.5.2-20170921T072407.1e2a7e6."
@mbukatov Please verify and close the issue

[2017-10-06 11:45] nthomas-redhat commented on #21
@rishubhjain, Since @mbukatov confirmed the fix, I am closing the issue

[2017-10-06 11:45] #21 closed

[2017-10-06 11:46] rishubhjain commented on #153
@nigelbabu This is fixed, Please verify and close the issue

[2017-10-06 11:51] #67 closed

[2017-10-06 12:09] rishubhjain commented on #155
@nigelbabu This issue is replicated in
 https://github.com/Tendrl/monitoring-integration/issues/167

[2017-10-06 12:11] rishubhjain commented on #159
@dahorak The volumes with both uppercase and lowercase letters are present in graphite as well. So in my opinion the volumes existed in the past because of which there is an entry in graphite.
Can you reproduce this on a fresh setup?. Or provide me access to your machine I would like to debug more

[2017-10-06 12:23] dahorak commented on #159
@rishubhjain I didn't remove any volume there (only the three volumes which are visible from the gluster command were created).
I can easily reproduce it, simply create gluster volume and name it with some upper case letters.

[2017-10-06 13:12] dahorak opened #173 "Keep historical data for graphs in Grafana more cleverly"
All historical data in graphs are kept 180 days (https://github.com/Tendrl/monitoring-integration/issues/95).
Would it be possible to configure the time for keeping historical data somehow slightly more cleverly?

I mean, that for some kind of data is 180 days definitely enough (and maybe even too much), but for example for Volume space utilization graphs it would make sense to keep historical dat

[2017-10-06 13:13] dahorak commented on #95
@nthomas-redhat  RFE created: https://github.com/Tendrl/monitoring-integration/issues/173

[2017-10-06 13:16] dahorak commented on #95
I'm not able to verify, that the data are kept for whole 180 days, but they are not deleted after 24hours (I can see data few days old). So I would consider this as verified.

[2017-10-06 13:16] #95 closed

[2017-10-06 15:19] julienlim opened #174 "Brick says it's down when it's not down"
On node1:/bricks/brick1 (there's only 1 brick on the node1), and I have create a dummy file that is super large on the brick to get it to > 90% (which is perhaps why it got set to down).  In the grafana dashboard, the status panel is showing the brick as down (when it's not).  I have included gluster volume status, gstatus, screenshots from the Tendrl UI and Grafana host dashboard to show you what

[2017-10-06 15:26] julienlim commented on #171
@cloudbehl I've encountered this same bug.  Is it possible to set the default to go to the first brick in the first node of the first volume?

[2017-10-06 16:05] julienlim opened #175 "Conflicting capacity utilization percentages for the same volume in multiple views"
Conflict capacity utilization percentages for the same volume (which only 1 replica set of 3 bricks) in multiple views -- which one should a user trust?  How come they differ in Grafana between the cluster and host dashboards?

Grafana cluster dashboard -- see top 5 utilization for myvolume:
<img width="1137" alt="screen shot 2017-10-06 at 12 02 47 pm" src="https://user-images.githubusercontent.co

[2017-10-08 16:42] cloudbehl commented on #171
@julienlim Looks like there is some Issue with grafana. This case is only happening when there is 1 volume, If we have more then 1 volume then everything works fine.

[2017-10-08 16:43] cloudbehl commented on #174
@rishubhjain @r0h4n @shtripat ^^

[2017-10-08 16:47] cloudbehl commented on #166
@anmolbabu Do let me know when the changes are done, will need a name.

[2017-10-08 16:54] cloudbehl commented on #164
@mbukatov @julienlim @ltrilety To my understanding by reading above you want me to change the "Memory Free" panel to "Memory Available" and map it to the free property of memory.

Do you want the percent free(As it is currently) or the number of bytes free?

[2017-10-08 16:59] cloudbehl commented on #67
@julienlim The Issue is resolved now with the latest build of grafana

[2017-10-08 17:07] cloudbehl commented on #174
@julienlim Can you provide setup details to debug?

[2017-10-09 05:43] anmolbabu commented on #166
@cloudbehl Changes are done and merged(on Saturday - 2 days ago) from collectd side. Please do the needful as per the comments above.

The new graphite table name for rebalance data are:

1. tendrl.clusters.{cluster_id}.volumes.{volume_name}.nodes.{node_name}.rebalance_bytes
2. tendrl.clusters.{cluster_id}.volumes.{volume_name}.nodes.{node_name}.rebalance_files
3. tendrl.clusters.{cluster_id}.volu

[2017-10-09 06:11] ltrilety commented on #164
@cloudbehl As I see it, you have two options:

1.  Show `used`, `buffers`, `cache` and `free` in some way. E.g. as @julienlim suggested as stacked bar chart. Advantage of this approach is that sum of those numbers gives you total memory.
2. Display `memory_available`. You could also show how big part of it is `free`, but otherwise you cannot show anything as the number doesn't have to sum to total

[2017-10-09 06:20] rishubhjain opened #178 "New mapping"
Monitoring Integration needs to change mapping of status or state of brick, volumes, clusters and nodes

[2017-10-09 06:43] rishubhjain commented on #170
@mbukatov Please review the patch

[2017-10-09 07:19] cloudbehl commented on #164
@ltrilety I see that we don't have memory available as a value directly from collectd plugin. So Will take it as RFE if we want to show the memory available.

Regarding the first approach showing (used, buffers, cache, free)  in the stacked bar chart, We are already showing it in another graph.
![screenshot from 2017-10-09 12-41-44](https://user-images.githubusercontent.com/6695156/31327966-14c000

[2017-10-09 08:27] ltrilety commented on #164
@cloudbehl well, in that case `available` could be count as `cache` + `free`, not the same as command `free` provides though. It's still better than just showing `free` memory. However I'd like to left final decision on @julienlim or on how majority decides.
@mbukatov, @julienlim what do you think?

[2017-10-09 11:13] mkudlej commented on #165
@nthomas-redhat Do I understand it right, that user cannot have set quota on any of volumes in cluster? Is this prerequisite in any documentation document that volumes in imported clusters should be without quota? If yes, could you please add link here?

[2017-10-10 03:22] nthomas-redhat commented on #165
@mkudlej , Quota management is not supported in current release of tendrl. You won't see any indication on the grafana dashboard about it. Being said that, you still expected to get an alert(tendrl-ui) mentioning the limit exceeded per the supported events document shared by @nnDarshan

[2017-10-10 10:10] rishubhjain commented on #34
@mbukatov Changes are done as per requirement. Please verify and close the issue

[2017-10-10 10:17] rishubhjain opened #182 "Undefined Name WHISPER_PATH"
https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/flows/delete_resource_from_graphite/__init__.py#L48
WHISPER_PATH -> whisper_path

[2017-10-10 10:46] #182 closed

[2017-10-10 10:46] #178 closed

[2017-10-10 10:50] #162 closed

[2017-10-10 10:50] cloudbehl commented on #175
@julienlim Have Fixed this bug in grafana and opened a Parallel bug in UI for this bug.

Please verify and close this Issue.

[2017-10-10 10:54] #167 closed

[2017-10-10 10:56] #161 closed

[2017-10-10 11:11] julienlim commented on #171
If Grafana bug, please release note this.

[2017-10-10 11:24] alokleo commented on #165
Hi @mkudlej , Can you please test the workflow described above by @nthomas-redhat and report if you are getting the email alerts with  quota breach?

[2017-10-10 11:31] rishubhjain opened #184 "Improving logging and handling Keyerror"
KeyError is needed to be handled in https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/manager/__init__.py#L64 and check must be made to make sure MainOrg. is found else the service should be stopped

[2017-10-10 12:39] #34 closed

[2017-10-10 15:52] julienlim commented on #174
@cloudbehl I basically used "dd" or "falloc" to create a dummy file on one of the bricks to simulate a  90+% condition on the brick to see how it would show up in the Tendrl UI and Dashboards.

What I noticed was that the threshold did breach, alert was generated, and the utilization was reflected in the various UI's.  However, what I did not expect was that the brick be reported as down (when all

[2017-10-10 21:27] mcarrano opened #186 "Update panel styling to improve readability"
Use of saturated panel background colors to reflect status on current background results in poor overall readability. Recommend updating panel json for all Tendrl dashboards according to the following guidance to improve readability per Grafana panel type.

1- SingleStat panels - use text coloring to reflect state, where applicable, i.e. "Healthy" = green; "Unhealthy = orange"

2- Vonage Status Pa

[2017-10-10 21:28] mcarrano commented on #186
@julienlim FYI

[2017-10-10 23:08] julienlim commented on #164
@cloudbehl @mbukatov @ltrilety @nthomas-redhat

Since a lot of the metrics are being shown in the Memory Utilization panel, let's change the Memory Free panel to Memory Panel, and have that be composed of cache + free.  We will need to provide a tooltip to explain this so user will know how the number is derived, though fundamentally, they could probably look at the json or if he/she has edit capa

[2017-10-11 05:22] cloudbehl commented on #186
@mcarrano I think this is a good Idea and Surely it will improve the readability of the dashboard.

We can change the coloring for the single stat and the Vonage Status plugin panel to improve the readability. But in the table panel, we are indicating the status which needs to be visually bold because the number doesn't make much sense in that case. So in case of table panel, we can go with the cu

[2017-10-11 06:06] cloudbehl commented on #164
@julienlim I think the name for the panel can be something like "Memory(Cache+Free). Which will let end user understand at a glance that single stat is composed of Memory cache + Memory free.

@julienlim @nthomas-redhat @ltrilety

[2017-10-11 06:59] #184 closed

[2017-10-11 07:09] nthomas-redhat commented on #186
@cloudbehl , looks good to me

[2017-10-11 07:15] nthomas-redhat commented on #164
@cloudbehl , tooltip is available(and easy to use) in grafana? if yes let's go with that. Else fall-back on the approach you mentioned.

[2017-10-11 08:07] rishubhjain commented on #152
@fbalak Can we close this issue?

[2017-10-11 08:19] fbalak commented on #152
@rishubhjain ok

[2017-10-11 08:19] #152 closed

[2017-10-11 08:30] mkudlej commented on #165
@nthomas-redhat  I understand that there will not be support for quota management but let me give you some examples where we should somehow reflect at least quota hard limit:
1) User imports cluster with volumes with quota (for example 50%)
2) User sets quota (for example 50%) for some volumes in imported cluster by GDeploy

And then user copy some data to volumes with quota. While there is still

[2017-10-11 09:14] rishubhjain opened #188 "Use lower cases instead of upper cases"
Volume_total_count -> volume_total_count
Node_down_count -> node_down_count

[2017-10-11 09:19] cloudbehl commented on #186
@mcarrano made the changes. Please have a look.
![screenshot from 2017-10-11 14-48-24](https://user-images.githubusercontent.com/6695156/31432144-6c178bac-ae93-11e7-9a27-f94e915671d5.png)

[2017-10-11 09:23] cloudbehl commented on #164
@julienlim @nthomas-redhat I have made the changes it looks like this(image) now.

![screenshot from 2017-10-11 14-51-34](https://user-images.githubusercontent.com/6695156/31432322-f39fed44-ae93-11e7-9573-b5327f73e8c1.png)

[2017-10-11 11:15] mbukatov commented on #34
ok

[2017-10-11 11:28] mkudlej opened #190 "volume utilization trend chart and inode trend chart don't show correct trend"
1) I have copied some data to volume yesterday via native client. I haven't removed or copied there any data since yesterday. But as you can see on screenshot there are peeks in *Capacity Utilization Trend* chart and *Inode Utilization* chart.

![utilization_bug](https://user-images.githubusercontent.com/5920442/31437592-158ef99e-ae86-11e7-8aec-7c76ce08dfa5.png)

2) There are values less than one

[2017-10-11 11:54] mkudlej opened #191 "volume status is not valid"
I've imported cluster and look at grafana dashboard for only one volume there and there are these issue:
1) Volume is *up(degraded)* even if I see in Gluster CLI that volume is *up*.
2) *Rebalance status* chart shows that it is *In progress* even if Gluster CLI command shows different ifo
![bug_volume_status](https://user-images.githubusercontent.com/5920442/31439145-681ef8ee-ae8b-11e7-9450-7dc579

[2017-10-11 12:21] mkudlej commented on #191
I've forgotten to mention important info:
[code]
So info on Grafana dashboard is wrong.

[2017-10-11 12:44] julienlim commented on #164
@cloudbehl It looks good.  Can we change the panel label from "Memory" to "Memory Available", and have the info tip say: "Memory Available is the sum of memory free and memory cached"?

Thanks!

[2017-10-11 13:51] julienlim commented on #186
@cloudbehl @mcarrano - looks good.  I'll look forward to seeing these changes in all the dashboards wherever applicable.

[2017-10-11 17:42] julienlim commented on #186
@cloudbehl @mcarrano @nthomas-redhat @Tendrl/tendrl-qe
I just redeployed with tendrl-ansible using master, and the styling updates look good!

<img width="1197" alt="screen shot 2017-10-11 at 1 32 13 pm" src="https://user-images.githubusercontent.com/5589919/31457162-f325cc1c-ae89-11e7-97fc-d5f51d04e676.png">

<img width="1197" alt="screen shot 2017-10-11 at 1 33 51 pm" src="https://user-images.gi

[2017-10-11 18:51] julienlim commented on #186
@cloudbehl @mcarrano I just made one of my nodes in the cluster go down, and noticed that the Cluster Status changed to red (unhealthy).  It should be orange (unhealthy).

<img width="1205" alt="screen shot 2017-10-11 at 2 42 39 pm" src="https://user-images.githubusercontent.com/5589919/31460232-b02fe69a-ae93-11e7-8ded-5a8e46bbe1e7.png">

This needs to be synchronized with also Tendrl UI.  There's

[2017-10-11 19:18] #188 closed

[2017-10-11 19:19] #158 closed

[2017-10-11 20:04] julienlim commented on #91
Verified.

[2017-10-11 20:04] #91 closed

[2017-10-11 20:25] julienlim opened #194 "No alerts for when capacity utilization threshold breached"
I redeployed tendrl using tendrl-ansible from master just now, and I created a near full condition on one of my bricks, and no alerts to say that threshold was breach on node 3:/bricks/brick1 were generated.

I also noticed that in the Tendrl UI, the chart shown the brick utilization shows blue (which may confuse user who sees it differently in the Grafana dashboards since it is not matching the t

[2017-10-11 23:38] mcarrano commented on #186
Looks so much better @cloudbehl Thanks for making these changes.

[2017-10-12 01:12] julienlim commented on #186
@cloudbehl Per @mcarrano's investigation, he said regarding the table panels that it did not appear to be possible to apply the text color to the entire row as we had hoped.

So, for now let's leave the tables as currently implemented.

Thank you for the quick turnaround in implementing the singlestat and status panel changes!

[2017-10-12 01:17] julienlim opened #195 "Disk IO Panel - put millisecond (or ms) as part of the y-axis"
To be consistent, let's show ms on each of the y-axis units on the Disk IO panel, e.g. 1.0 ms, 1.1 ms, etc.  - like bps/kbps on the Disk Load panel (on left) -- see screenshot.

<img width="1144" alt="screen shot 2017-10-11 at 9 15 08 pm" src="https://user-images.githubusercontent.com/5589919/31474556-8d64c154-aec9-11e7-9f0c-be563a903467.png">

@cloudbehl

[2017-10-12 05:25] nthomas-redhat opened #196 "RFE: Agrgregated stats required at the main dashboard"
Need to collect the agrgregated values for:
* Network stats
* throughput
This needs to be displayed on the cluster main dashboard(grafana)

[2017-10-12 05:34] nthomas-redhat opened #197 "RFE: ETA for rebalance"
volume level card for rebalance is expected to have metrics for ETA for rebalance

[2017-10-12 05:40] nthomas-redhat opened #198 "RFE: Report generation"
Generate a single pdf of all the monitored components. For example,  a report which provides as it is "screen shot" like details of cluster, volume, hosts, bricks and other components which are monitored by tendrl. Also need to have ability to schedule generation and transmitting of these reports on a periodic basis to the configured email addresses.

[2017-10-12 05:52] nthomas-redhat opened #199 "RFE:volume/brick/Host status values are confusing"
Currently the status displayed on the dashboard(cluster,volume,host,brick etc) are numbers which are meaningless. Instead map it to approprate string.

[2017-10-12 05:54] nthomas-redhat opened #200 "RFE: bg color for status tables"
Keep the green(or any based on the status val) bg colour only the status column, not the entire line with name of brick, so you avoid too much green in the dashboard.

[2017-10-12 05:56] nthomas-redhat opened #201 "Inode details are not needed in any dashboard."

[2017-10-12 09:06] mkudlej commented on #190
Reproduce steps:
1. deploy cluster with one volume
2. copy some data to volume
3. wait for a while to see in charts info about volume without data movement

[2017-10-12 10:05] cloudbehl commented on #201
@nthomas-redhat By Inode details you mean Inode utilization chart and Inode Count, both need to be removed?

[2017-10-12 10:06] cloudbehl commented on #200
@nthomas-redhat I think we have implemented this as @mcarrano Suggested. So is there anything else we need to do?

[2017-10-12 12:02] #51 closed

[2017-10-12 12:05] r0h4n commented on #77
@rishubhjain you can just point to latest install guide below in the  service doc

https://github.com/Tendrl/documentation/wiki/Tendrl-release-latest

[2017-10-12 12:56] mcarrano commented on #200
@julienlim and I had discussed this and decided to keep the bg color extending across the entire row rather than just highlighting the status column. The thinking was that the status value is not really meaningful and we wanted to highlight the object name. Agree that this is not an ideal solution but seemed like the best we can do within the constraints of the Grafana table panel.

[2017-10-13 08:07] rishubhjain commented on #191
@mkudlej I am trying to reproduce the up(degraded) issue, but the above patch has solved the issue with In Progress

[2017-10-13 09:00] rishubhjain commented on #190
@anmolbabu Query used by grafana for :
1) capacity utilization for volumes
sumSeries(tendrl.clusters.$cluster_id.volumes.$volume_name.nodes.*.bricks.*.utilization.gauge-total)

[2017-10-13 09:00] rishubhjain commented on #190
@anmolbabu Query used by grafana for :
1) capacity utilization for volumes
sumSeries(tendrl.clusters.$cluster_id.volumes.$volume_name.nodes.*.bricks.*.utilization.gauge-total)

[2017-10-13 09:09] cloudbehl commented on #190
@rishubhjain  I think grafana is having a Issue with the query.
It should be: tendrl.clusters.$cluster_id.volumes.$volume_name.{percent_used}

[2017-10-13 09:12] anmolbabu commented on #190
And as discussed the 2nd part of the issue is the gluster-integration sync seems to have failed and hence utilization and a few other fields corresponding to the volume are absent in the setup where this issue is reported from.

@mkudlej and/or @rishubhjain As discussed, please extract out the Tracebacks/Exceptions/Errors from logs corresponding to gluster-integration and paste them here
Cc: @shtr

[2017-10-13 10:47] mbukatov commented on #170
Fixed by https://github.com/Tendrl/monitoring-integration/pull/180

[2017-10-13 10:47] #170 closed

[2017-10-15 06:13] GowthamShanmugam opened #204 "Unable to fetch grafana alert when control is in Main Org. dashboard"
In grafana when control is Main Org. dashboard, then it is not allows to fetch the alert using alert id. it gives error like
{
"message": "You are not allowed to edit/view alert"
}

Needs context switch while fetching alert.

[2017-10-15 06:13] GowthamShanmugam commented on #204
@rishubhjain @r0h4n @shtripat

[2017-10-15 06:26] GowthamShanmugam opened #206 "Move volume_id find function in alert handler to node_agent"

[2017-10-15 06:47] GowthamShanmugam opened #208 "Issue in handling grafana volume utilization alert in alert handler"
grafana volume utilization alert query metrics do not match with the template in volume alert handler so the alert is not handled by volume handler.

[2017-10-15 09:07] GowthamShanmugam opened #210 "Need entity type to differentiate alerts"
Need entity types like cpu, memory, swap, volume, brick, cluster to differentiate alerts

[2017-10-16 07:13] cloudbehl commented on #197
@rishubhjain The ETA for rebalance is present in the ETCD. We need to expose it to the graphite via monitoring Integration.

[2017-10-16 08:07] cloudbehl opened #211 "Decimal and Text size Issues"
Add % sign to the inode utilization on Bricks page
Brick page - capacity utilization trend the decimal needs to be set.
Brick page - capacity available status panel needs to have small text.

[2017-10-16 08:50] mkudlej commented on #190
Here are all bugs which I think are related to this issue:
[code]

[2017-10-16 11:37] fbalak commented on #199
It seems also incorrect. If `0` means `Down` and `1` means `Up` then there should be values `1` for all hosts and volume but I see `0` for everything.
![1016_status](https://user-images.githubusercontent.com/22369801/31609900-44991078-b276-11e7-9559-6bfff8e4c027.png)
[code]
[code]

Tested with:
[code]

[2017-10-16 11:54] GowthamShanmugam commented on #204
this issue is fixed, i am closing this

[2017-10-16 11:54] #204 closed

[2017-10-16 11:54] GowthamShanmugam commented on #206
Fix is merged i am closing this issue

[2017-10-16 11:54] #206 closed

[2017-10-16 11:55] GowthamShanmugam commented on #208
fix is merged, i am closing this issue

[2017-10-16 11:55] #208 closed

[2017-10-17 08:51] rishubhjain commented on #211
@cloudbehl Please close the issue

[2017-10-17 08:53] rishubhjain commented on #210
@GowthamShanmugam Please elaborate on the issue, also mention how can I or Ankush help you to solve this issue.

[2017-10-17 08:53] rishubhjain commented on #201
@nthomas-redhat Any updates on the issue?, Is it required in this build or is it RFE?

[2017-10-17 08:55] rishubhjain commented on #195
@julienlim The solution to this issue is submitted by @cloudbehl, Please verify and update the issue.

[2017-10-17 08:56] rishubhjain commented on #194
@cloudbehl Please check the issue.

[2017-10-17 09:00] rishubhjain commented on #191
@mkudlej If possible could you check whether you are able to reproduce this(volume status as "UP(degraded)") issue?

[2017-10-17 09:01] rishubhjain commented on #190
@anmolbabu Can you check this issue, are there any other details required to debug this issue?

[2017-10-17 09:03] rishubhjain commented on #186
@julienlim If possible please verify if the issue is still reproducible after the fix. Please update the this issue as per your verification.

[2017-10-17 09:05] rishubhjain commented on #174
@julienlim Please provide setup details so  that we could debug the issue in detail.

[2017-10-17 09:05] rishubhjain commented on #175
@r0h4n @nthomas-redhat Please close the issue.

[2017-10-17 09:07] rishubhjain commented on #164
@cloudbehl Please check this issue, If the issue the issue is resolved please close the issue.
cc @julienlim

[2017-10-17 09:07] rishubhjain commented on #159
@dahorak Please verify and close the issue

[2017-10-17 09:07] rishubhjain commented on #155
@nigelbabu Please verify and close the issue

[2017-10-17 09:09] rishubhjain commented on #145
@mkudlej I have addressed all the issues mentioned, Please check whether any issue mentioned above are reproducable.

[2017-10-17 09:09] rishubhjain commented on #143
@r0h4n Please close the issue

[2017-10-17 09:17] GowthamShanmugam commented on #210
It is related to this https://github.com/Tendrl/gluster-integration/issues/449

[2017-10-19 12:59] mkudlej commented on #145
@rishubhjain In which set of packages are fixed issues described here? Because with
[code]
I still see some already described issues.

[2017-10-19 14:25] mkudlej commented on #191
This issue cannot be verify because https://github.com/Tendrl/monitoring-integration/issues/145 is not fixed.

[2017-10-21 14:04] #211 closed

[2017-10-23 06:37] cloudbehl commented on #194
@GowthamShanmugam Can you verify why the bricks alert is generated when the threshold is breached.

@gnehapk Is the color coding added in the progress bar if the utilization exceeds 80% it should be yellow and when it exceeds 90% it should be Red.

[2017-10-23 11:54] GowthamShanmugam opened #213 "grafana alert dashboard is not raising alerts for memory utilization"
In memory utilization, dashbaord threshold value is calculated from sum_series of different metrics. If anyone metrics value is zero then it never raises alert even it cross threshold breach.

[2017-10-23 11:55] GowthamShanmugam commented on #213
@rishubhjain @cloudbehl

[2017-10-23 11:57] GowthamShanmugam opened #214 "Some times brick utilization alert dashboard is not created"
After cluster import sometimes brick utilization is not created. After monitoring-integration restart, it is created. It needs to be present after import cluster.

[2017-10-23 11:57] GowthamShanmugam commented on #214
@rishubhjain @cloudbehl

[2017-10-23 12:01] GowthamShanmugam opened #215 "After import in some grafana graphs does not have complete metrics"
Sometime after import cluster, grafana graphs are not created with complete metrics in the alert dashboard. I can see only partial metrics in the panel. I feel grafana dashboard create a job is happening before graphite has complete info.

[2017-10-23 12:02] GowthamShanmugam commented on #215
@rishubhjain @shtripat

[2017-10-23 12:05] GowthamShanmugam opened #216 "Volume utilization alerts are missed because of metric mismatch with template in handler"
Volume handler template is not matched with grafana volume dashboard metrics, so volume utilization alerts are not caught by monitoring integration.

[2017-10-23 12:43] GowthamShanmugam commented on #194
@cloudbehl verified, it works fine, need to merge this small PR to receive volume alerts from grafana https://github.com/Tendrl/monitoring-integration/pull/217

[2017-10-25 08:29] nnDarshan commented on #169
I am not sure, its right to remove the brick(using ttl) if the node goes down. As the brick still exists and we should mark it as down. By removing the brick the number of bricks shown in the dashboards will be wrong. So I feel we should not use ttl for saving bricks and we should explicitly mark the brick status as down when a node goes down
@r0h4n @nthomas-redhat @shtripat @rishubhjain Please pr

[2017-10-25 08:41] rishubhjain commented on #169
@nnDarshan Can we place ttl on brick status and if the node is down and the brick status is deleted then handle it in the same way the node status is handled? (https://github.com/Tendrl/node-agent/commit/f484bacb48a2b65aca70354ed71c66d85767b059)

[2017-10-25 09:23] nnDarshan commented on #169
@rishubhjain I was thinking that. We already get to know when node goes down, So feel it will be good to fire a job targeted to any gluster-integration, with the node name, so that it can mark the brick status of all the bricks under that node as down.
Since there will be lots of bricks in the cluster. I feel its inefficient to check if the brick status has vanished just like we do for node status

[2017-10-25 14:00] GowthamShanmugam opened #218 "Maintain the alert dependencies in definition file and store the alert based on that relationships"
Alerts are stored in etcd based on two major categories called node or cluster, in earlier case alert will fall under any one this two catagory. The problem I that approach is some alerts may come under both of this category (e.g) brick connected or disconnected.  To solve this problem now node alert and cluster alert object has supported alert in definition file (https://github.com/Tendrl/commons

[2017-10-26 06:18] nthomas-redhat commented on #169
@nnDarshan , I agree with you, correct bricks number should reflect until the node is detached from the cluster . But my question is then how you handle out of band deletes? the ttls introduced basically to handle this. So you need to implement compare and delete during the sync?
@r0h4n ^

[2017-10-26 06:37] shtripat commented on #169
@nthomas-redhat out of band deletes would raise events and as handling those events, we would need to delete the entries from etcd. Also if tendrl gets restarted, we might need a master sync one shot to make sure any out of band deletes etc during the period tendrl was down.

@r0h4n @brainfunked suggestions??

[2017-10-26 07:09] rishubhjain commented on #215
@GowthamShanmugam The metric is provided in alert dashbiard json and it has no relation with graphite data. Graphite is only required for fetching data in dashboard.

[2017-10-26 07:15] GowthamShanmugam commented on #215
@rishubhjain what happens if dashbaord is created before graphite having data?

[2017-10-26 07:17] rishubhjain commented on #210
@GowthamShanmugam Any change required from Monitoring-integration side?

[2017-10-26 07:18] rishubhjain commented on #215
@GowthamShanmugam The data in the panels will be empty.

[2017-10-26 07:21] cloudbehl opened #221 "Removing stale data from graphite"

[2017-10-26 07:24] rishubhjain commented on #194
@julienlim Please verify whether the issue is still reproducible or not.

[2017-10-26 07:42] GowthamShanmugam commented on #210
@rishubhjain this issue is not required, now implementation is different, so i am closing this issue

[2017-10-26 07:42] #210 closed

[2017-10-26 07:45] GowthamShanmugam commented on #194
@rishubhjain need this patch to be merged for this it will solve all alert count and alert filter and grafana volume alert catch

https://github.com/Tendrl/monitoring-integration/pull/219
https://github.com/Tendrl/gluster-integration/pull/453
https://github.com/Tendrl/commons/pull/766
https://github.com/Tendrl/node-agent/pull/657

[2017-10-26 08:09] nthomas-redhat commented on #169
@shtripat , is this taken care now?

[2017-10-26 08:39] shtripat commented on #169
No its not. I am just suggesting a solution here. Need confirmation from @Tendrl/tendrl-core

[2017-10-26 08:52] #153 closed

[2017-10-26 08:52] #155 closed

[2017-10-26 08:53] #159 closed

[2017-10-27 08:34] alokleo commented on #201
There has to be a co-relation between number of files, no of inodes and available capacity. For now, It's OK to leave it as it is i.e.e display the inodes availability.

[2017-10-27 11:03] cloudbehl opened #222 "Adding the description to the Grafana Panels"
I am planning to add a description to every grafana panel which will be shown as tool-tip to each panel in grafana. This will be helpful to end user about the expectations from each panel.

@julienlim Can you help me provide the description which can be then added to grafana.

[2017-10-27 17:38] julienlim commented on #222
@cloudbehl

Have you looked at the dashboard specs?  I believe there's quite a bit already listed in the spec:
* Cluster dashboard spec: https://github.com/Tendrl/specifications/issues/222
* Host dashboard spec: https://github.com/Tendrl/specifications/issues/223
* Volume dashboard spec: https://github.com/Tendrl/specifications/issues/224
* Brick dashboard spec: https://github.com/Tendrl/specifica

[2017-10-31 12:39] GowthamShanmugam commented on #218
This issue is fixed, I closing

[2017-10-31 12:39] #218 closed

[2017-10-31 12:41] GowthamShanmugam commented on #215
This is not an issue after few minutes grafana metrics are coming correctly. It works fine. I am closing this issue

[2017-10-31 12:41] #215 closed

[2017-10-31 12:42] GowthamShanmugam commented on #216
This issue is fixed, i am closing this

[2017-10-31 12:42] #216 closed

[2017-10-31 12:42] GowthamShanmugam commented on #213
This issue is fixed, i am closing this

[2017-10-31 12:43] #213 closed

[2017-10-31 12:45] GowthamShanmugam commented on #194
@julienlim This issue is fixed, please verify this

[2017-10-31 16:09] TimothyAsirJeyasing opened #224 "Monitoring-integration does not works with latest grafana"
The latest Grafana package available in the grafana repo is having some sort of plugin or script Issues which blocks our calls. We need to lock down the version for Grafana to 4.5.2.

[2017-10-31 16:17] r0h4n commented on #224
@TimothyAsir What exactly are the script issues with latest Grafana package ?

[2017-10-31 16:19] TimothyAsirJeyasing commented on #224
@cloudbehl  Could you please describe the issue.

[2017-10-31 19:01] julienlim commented on #224
@TimothyAsir @r0h4n @cloudbehl @Tendrl/tendrl-qe I just installed Tendrl with tendrl-ansible from master and am noticing everytime I launch the Dashboard, I get the following plug-in fetching issue:
![screen shot 2017-10-31 at 2 59 36 pm](https://user-images.githubusercontent.com/5589919/32243661-58293a82-be4c-11e7-9ec3-b7ddccb485a2.png)

[2017-11-01 11:20] cloudbehl commented on #224
@r0h4n @TimothyAsir @julienlim The issue is with Grafana 4.6.0 version. Its related to loading of the javascript files.

This Issue is being tracked in grafana also: https://github.com/Vonage/Grafana_Status_panel/issues/81

[2017-11-01 15:05] julienlim commented on #164
Verified.

[2017-11-01 15:05] #164 closed

[2017-11-02 06:59] rishubhjain commented on #214
@GowthamShanmugam Please close this issue

[2017-11-02 07:25] GowthamShanmugam commented on #214
This issue is fixed so i am closing this

[2017-11-02 07:25] #214 closed

[2017-11-02 08:34] GowthamShanmugam opened #226 "alert utilization value should be rounded and need units also"
For (e.g)
Memory utilization of node gluster6.example.com is 93.2913037661 which is above the WARNING threshold (80).

The value should be rounded to some reasonable precision (for example two decimal digits) because currently, the number is slightly confusing until you notice that there is a dot after the second digit...

And also the value should contain "units" (probably % in this case).

[2017-11-02 08:34] GowthamShanmugam commented on #226
Tendrl/notifier/issues/138

[2017-11-02 09:03] cloudbehl commented on #195
@julienlim please verify.

[2017-11-02 09:13] cloudbehl commented on #222
@julienlim can we cut short the descriptions? As for a grafana tooltip, it's way too long.

[2017-11-02 09:16] GowthamShanmugam commented on #143
i am closing this issue

[2017-11-02 09:16] #143 closed

[2017-11-03 06:38] shtripat opened #228 "Huge disk space usage by graphite with big no of volumes"
During verification with huge no of volumes (~100) we have seen that graphite consumes almost 40GB disk space for maintaining .wsp files for the cluster in a ~24hrs timeframe.
We need to look at if there are some duplicate .wsp files and remove any unused ones .

[2017-11-03 14:00] julienlim commented on #222
@cloudbehl - what's the length we're talking about?

[2017-11-03 17:25] julienlim commented on #194
@GowthamShanmugam @rishubhjain @cloudbehl @gnehapk Verified that when I caused one of the bricks threshold to breach that an alert was generated.
<img width="1123" alt="screen shot 2017-11-03 at 1 15 34 pm" src="https://user-images.githubusercontent.com/5589919/32387135-dc910dbe-c099-11e7-8145-3ead50fb920e.png">

Observing that the alerts counter on hosts is not correctly synchronizing with the al

[2017-11-03 18:03] julienlim commented on #195
Fixed and verified.
<img width="379" alt="screen shot 2017-11-03 at 2 02 46 pm" src="https://user-images.githubusercontent.com/5589919/32388993-c9165edc-c09f-11e7-9e24-a6d2b0c8202a.png">

[2017-11-03 18:03] #195 closed

[2017-11-04 12:20] GowthamShanmugam commented on #194
@julienlim memory utilization node2 is very near to max threshold breach of 80.4 so it might be replaced with the clear event before you check alert count, because it may come less than 80 before you check, please past the notification UI screen also. then we can verify easily.

[2017-11-04 21:16] cloudbehl commented on #222
@julienlim I was talking about the description of hosts, Volume and bricks panel. It looks too large for a description to me but as in there are no restrictions from Grafana on a text.

Also, can you provide me with all the description for all the panels with appropriate text? The text in the metrics doc and the specs seem to differ in respect of terminologies. So it would be helpful if you can pa

[2017-11-06 06:58] cloudbehl opened #229 "CPU Utilization values are wrong"
CPU utilization values are reported in wrong/misleading way. In CPU Utilization panel in Hosts dashboard is chart with only one measured value labeled by the host it measures. It seems to aggregate all memory types but the value in this chart isn't equal with any value reported by `top` command. All memory types should have reported their own value in chart and these values should be correctly lab

[2017-11-06 07:00] cloudbehl opened #230 "Weird line in Memory Utilization chart when stressed"
CPU utilization values are reported in wrong/misleading way. In CPU Utilization panel in Hosts dashboard is chart with only one measured value labeled by the host it measures. It seems to aggregate all memory types but the value in this chart isn't equal with any value reported by `top` command. All memory types should have reported their own value in chart and these values should be correctly lab

[2017-11-06 07:01] cloudbehl opened #231 "Read operation not shown in IOPS chart"

[2017-11-06 07:01] cloudbehl opened #232 "Charts which values can not be negative shouldn't show negative labels on axis"

[2017-11-06 14:23] julienlim commented on #194
@GowthamShanmugam

Here's the alerts & notification screenshot along with host list:

![screen shot 2017-11-06 at 9 17 20 am](https://user-images.githubusercontent.com/5589919/32445406-9987de3a-c2d3-11e7-82bc-73446065976a.png)

![screen shot 2017-11-06 at 9 17 30 am](https://user-images.githubusercontent.com/5589919/32445411-9caa3360-c2d3-11e7-94c2-e91f90abe08d.png)

[2017-11-06 15:10] GowthamShanmugam commented on #194
@Tendrl/tendrl-core is brick utilization threshold breach also should come under node alert count? I have added only brick down in node alert counts.

i am sure brick utilization threshold breach should not come under volume alert count, is it related necessary to add in node_alert count ?

[2017-11-06 15:37] dahorak commented on #224
The fix from https://github.com/Tendrl/monitoring-integration/pull/225 is not good, because it breaks any further `yum update` process (you are simply not be able to easily update your system)!

[2017-11-06 20:49] julienlim commented on #222
@cloudbehl @mcarrano I've created a Google Doc to make it easier to specify the descriptions for the panels.  See
[Tendrl Grafana Dashboard Panels Descriptions](https://docs.google.com/document/d/11D1Mu4dQHKafSNzATd3aBJUK9q4wnP4jK3cYLDJmbAY/edit?usp=sharing).

[2017-11-07 06:40] cloudbehl opened #234 "Disk Operation and Disk IO not for individual disks"

[2017-11-07 09:53] cloudbehl opened #235 "Monitoring the tendrl services and show corresponding values in grafana."

[2017-11-07 09:55] cloudbehl opened #236 "Enabling the Tendrl server Monoitoring"

[2017-11-07 13:21] cloudbehl opened #237 "Dropped Packets Per Second panel"
@fbalak says: In Dropped Packets Per Second panel in Hosts dashboard is label `No data points` with tooltip `No data points returned from data query`. There should be some data or at least line chart with no dropped packets.

[2017-11-07 22:22] GowthamShanmugam opened #238 "volume and brick dashboards are not deleted when volumes are deleted"
Need to remove volume and brick dashboards from grafana when the volume is deleted. Need to remove volume and brick from graphite also

[2017-11-08 09:11] GowthamShanmugam opened #241 "Brick dashboard is not created in grafana when new volume in created"

[2017-11-08 13:20] r0h4n commented on #224
@TimothyAsir  @cloudbehl Please provide an update regarding

- Do we see failures using latest Grafana? Are these Tendrl failures or Grafana failures?
- If not above, why cant we move to the latest grafana version?

[2017-11-08 20:08] julienlim opened #243 "Thresholds in charts should be displayed as lines and not areas"
For any thresholds set in any of the dashboard panel -- displayed as charts -- static thresholds should be shown as a line instead of an area to reduce user confusion.

Currently, the orange area that is intended to warn user that the threshold has been breach is causing confusion, i.e. some users perceive it as a "Weird line in Memory Utilization chart when [memory utilization is] stressed."  See

[2017-11-08 20:23] cloudbehl opened #244 "Adding new status for Geo-rep in grafana"

[2017-11-09 09:50] cloudbehl opened #246 "units fix in volume and cluster dashboard"

[2017-11-09 10:06] TimothyAsirJeyasing opened #248 "rpmlint errors"
The following are the rpmlint errors identified in 1.5.4 release to be fixed:

tendrl-grafana-plugins.noarch: W: spelling-error Summary(en_US) Vonage -> Nonage, Voyage, Peonage
tendrl-grafana-plugins.noarch: W: spelling-error Summary(en_US) graphana -> graph
tendrl-grafana-plugins.noarch: W: spelling-error %description -l en_US vonage -> nonage, voyage, peonage
tendrl-grafana-plugins.noarch: W: no

[2017-11-09 10:33] #244 closed

[2017-11-09 10:35] #232 closed

[2017-11-09 10:36] GowthamShanmugam commented on #241
This issue is fixed, i am closing this

[2017-11-09 10:36] #241 closed

[2017-11-09 10:37] GowthamShanmugam commented on #238
This issue is fixed, so i am closing this

[2017-11-09 10:37] #238 closed

[2017-11-09 10:37] GowthamShanmugam commented on #226
This issue is fixed, i am closing this

[2017-11-09 10:37] #226 closed

[2017-11-09 10:38] cloudbehl commented on #231
Quick-read would get the file contents in lookup and serve it from cache because the files are small. Reads will appear if we disable quick-read.

Based on this comment I am closing this Issue.

[2017-11-09 10:38] #231 closed

[2017-11-09 10:38] cloudbehl commented on #229
This Issue is resolved

[2017-11-09 10:38] #229 closed

[2017-11-09 10:41] cloudbehl commented on #171
@julienlim Issue is solved with new grafana version.

[2017-11-09 10:41] #171 closed

[2017-11-09 16:29] GowthamShanmugam opened #249 "Need context switch to alert dashboard to delete volume dashboard"

[2017-11-09 16:33] shtripat commented on #246
@r0h4n this can be closed as the required PR is merged

[2017-11-09 16:35] #246 closed

[2017-11-09 17:32] shtripat opened #250 "The nodes which doesnt have a brick participating in any volume lists brick path as None"
In Bricks dashboard in grafana, the node which doesnt have a brick shows the brick path as None. I feel if a node doesnt have bricks participating in any volumes, it should not be listed in the dashboard.

@cloudbehl @r0h4n @nthomas-redhat @brainfunked comments?

[2017-11-09 21:01] julienlim opened #251 "Bricks dashboard: 2 Throughput panels with differing output"
In the Tendrl 1.5.4 release, the bricks dashboard has 2 panels for Throughput with differing output.

It's unclear what the difference is at first glance.  Either one of them needs a different label, or we should only have 1 of them.  It would be also good to describe what they are.

![screen shot 2017-11-09 at 3 58 46 pm](https://user-images.githubusercontent.com/5589919/32629450-3cefaf18-c567-11

[2017-11-09 21:48] julienlim opened #252 "Bricks dashboard: Unclear what "Utilization" panel is showing"
There's a panel called "Utilization" (Bottom right corner) and it's unclear to the user what this is metric is showing.  Is the the disk device capacity utilization or something else?  Please make the label clearer as to what this utilization is about.

![screen shot 2017-11-09 at 3 58 46 pm](https://user-images.githubusercontent.com/5589919/32631281-b9170d24-c56d-11e7-8733-4f35628edc73.png)

@clo

[2017-11-09 21:50] julienlim commented on #252
@cloudbehl It would be good to include description for this panel as mentioned in https://github.com/Tendrl/monitoring-integration/issues/222.  I've updated all the descriptions for all the dashboard panels based on what's currently implemented as best as I could figure out -- see https://docs.google.com/document/d/11D1Mu4dQHKafSNzATd3aBJUK9q4wnP4jK3cYLDJmbAY/edit?usp=sharing.

[2017-11-09 21:52] julienlim commented on #222
@cloudbehl @mcarrano @rghatvis@redhat.com

I've updated [Tendrl Grafana Dashboard Panels Descriptions](https://docs.google.com/document/d/11D1Mu4dQHKafSNzATd3aBJUK9q4wnP4jK3cYLDJmbAY/edit?usp=sharing) for all the dashboards.  I encountered some typos (that I didn't file bugs for but it's mentioned in the document) for some panel labels, one of the metrics shown (lowercase vs. uppercase), some conf

[2017-11-10 05:27] shtripat commented on #252
@brainfunked @nthomas-redhat comments?

[2017-11-10 05:27] shtripat commented on #251
@brainfunked @nthomas-redhat comments?

[2017-11-10 05:33] cloudbehl commented on #237
Not reproducible, so closing this Issue for now.

[2017-11-10 05:33] #237 closed

[2017-11-10 05:33] cloudbehl commented on #230
Toottip added to the panel

[2017-11-10 05:33] #230 closed

[2017-11-10 05:38] cloudbehl commented on #224
@r0h4n The Issue is with grafana package 4.6.0, it is not related to any tendrl package.
We need to verify the latest release of grafana. i.e 4.6.1, whether the Vonage plugin is working on new package or not

[2017-11-10 05:42] cloudbehl commented on #222
Few of the description is added to grafana and others are pending.

[2017-11-10 05:47] shtripat commented on #194
@nthomas-redhat @brainfunked @r0h4n plz comment.
I feel its good to have node level alert count if brick utilization breached threshold.

[2017-11-10 05:50] cloudbehl commented on #191
@mkudlej This Issue is fixed. can you please verify.

[2017-11-10 05:51] #190 closed

[2017-11-10 05:52] #186 closed

[2017-11-10 05:52] #175 closed

[2017-11-10 05:53] #169 closed

[2017-11-10 05:53] #166 closed

[2017-11-10 05:57] cloudbehl commented on #174
@julienlim can you verify this Issue.

[2017-11-10 06:27] GowthamShanmugam commented on #250
Need to be fix, i am still seeing this issue

[2017-11-10 08:48] GowthamShanmugam commented on #249
This issue is fixed, i am closing this

[2017-11-10 08:48] #249 closed

[2017-11-13 10:01] gnehapk opened #256 "Alert list view on Grafana should display a message when no alerts are present"
Currently no message is being displayed on the alert list page, when no alert is present is the Grafana.

![empty-alert-list](https://user-images.githubusercontent.com/5517376/32719791-898ec4a8-c887-11e7-81f2-f59d5106a046.png)

[2017-11-13 10:55] shtripat opened #257 "If two clusters imported in tendrl, the georep session details are not correct in grafana dashboard"
Created two gluster clusters. In one of the clusters, setup a georep session between volumes.
Imported both the clusters in tendrl.

In grafana cluster dahsboard (at a glance), both the clusters show a georep session available and up, whereas there is only one cluster which has georep setup. At volume level dashboards, the details are correct and are shown only for volume which has georep setup.

[2017-11-13 16:33] julienlim commented on #186
Just noting that this "update panel styling to improve readability" bug impacts all the dashboards:

* [Dashboard Spec - Cluster Dashboard](https://github.com/Tendrl/specifications/issues/222)
* [Dashboard Spec - Host Dashboard](https://github.com/Tendrl/specifications/issues/223)
* [Dashboard Spec - Volume Dashboard](https://github.com/Tendrl/specifications/issues/224)
* [Dashboard Spec - Brick D

[2017-11-13 16:36] julienlim commented on #222
Just noting the document mentioned above provides description for the current dashboards:

* [Dashboard Spec - Cluster Dashboard](https://github.com/Tendrl/specifications/issues/222)
* [Dashboard Spec - Host Dashboard](https://github.com/Tendrl/specifications/issues/223)
* [Dashboard Spec - Volume Dashboard](https://github.com/Tendrl/specifications/issues/224)
* [Dashboard Spec - Brick Dashboard](

[2017-11-13 19:29] julienlim commented on #234
Pertains to the [Host Dashboard](https://github.com/Tendrl/specifications/issues/223).

[2017-11-14 05:08] GowthamShanmugam opened #259 "Number of graph created for volumes and bricks in alert utilization dashboard is not equal to number of volumes and bricks in etcd"
When import cluster flow is done, a job for creating all dashboards is fired and it is taken and processed by monitoring integration. Problem is monitoring-integration is trying to create dashbaord before gluster sync done in all the storage nodes. So it creating dashbaord using partial detail.

[2017-11-14 05:15] GowthamShanmugam opened #260 "Monitoring-integration process the create volume job before all gluster sync collect all details of bricks"
When the volume is created on the command line, gluster event will pass the volume create an event to the gluster-integration socket, Gluster-integration is creating a job for volume creation dashbaord. Monitoring-integration is processing a job before gluster sync collects the brick details from corresponding storage nodes.

[2017-11-14 05:16] GowthamShanmugam commented on #259
Tendrl/monitoring-integration#260

[2017-11-14 05:16] GowthamShanmugam commented on #259
@shtripat @r0h4n @nthomas-redhat

[2017-11-14 13:07] cloudbehl opened #261 "[WIP] Graphite Disk Usage Calculation"
# [WIP] Graphite Disk Usage Calculation

## Whisper storage utilization

Per data point: 12 bytes
Per metric: 12 * no of data points
so for 60s:180d retention (60 * 24 * 180 data points) * 12 bytes =  3110400 (~ 2.97 MB)
or for 10s:180d retention (6 * 60 * 24 * 180 data points) * 12 bytes = 18662400 (~ 17.8 MB)

The calculations below are based on Tendrl’s default storage retention policy of all m

[2017-11-14 14:20] ltrilety commented on #252
BTW I'd like to know that too, as I used all bricks disks and the disk load utilization still shows 0.

[2017-11-15 06:09] cloudbehl commented on #261
@r0h4n @brainfunked @shtripat Please review
@Tendrl/tendrl-qe Please verify that the disk usage for a single cluster is approx to value that is calculated via this formula. Please do let me know if you require some help.

[2017-11-15 09:14] nnDarshan opened #262 "disable logging of info messages in /var/log/carbon/listener.log"
Without disabling this the size of this log file grows at a very fast rate(few GBs). So we should log only messages of warning and error severity

[2017-11-15 09:39] cloudbehl commented on #151
@fbalak We have not shown histograms because the brick name is too large(hostname+brickpath) and that is getting messed up. So due to that, we have come to the solution of not using the histograms.

Please have a look at the attached screenshot.

![screenshot from 2017-11-15 15-03-03](https://user-images.githubusercontent.com/6695156/32828965-ad1a2abc-ca16-11e7-8f34-0dd9af5c4694.png)

[2017-11-15 10:13] #262 closed

[2017-11-15 10:15] r0h4n commented on #260
So we want to ensure monitoring integration keeps checking for any new clusters or objects in clusters and create the dashboards and panels as required.

This will enable us to move away from the current way where we create dashboard and panels only once after import or if there's any new objects in the cluster

[2017-11-15 11:18] cloudbehl commented on #228
linking: https://github.com/Tendrl/monitoring-integration/issues/261

[2017-11-15 11:31] cloudbehl opened #265 "Remove disk utilization metric from the graphite"
The disk utilization metric is not required so we need to remove it from below hierarchy.

cluster -> volumes -> nodes -> bricks -> device -> utilization

[2017-11-15 11:32] cloudbehl commented on #265
linking: https://github.com/Tendrl/monitoring-integration/issues/228

[2017-11-15 11:33] r0h4n commented on #252
Fixed: https://github.com/Tendrl/monitoring-integration/pull/264

Please verify @ltrilety

[2017-11-15 15:39] SaravanaStorageNetwork opened #266 "No module named cliutils.cliutils"
I was facing error during tendrl-monitoring-integration service start..

Refer below log:

[2017-11-15 17:52] cloudbehl opened #268 "Tables in Gluster at a Glance are exceeding the table border"
![1114_tables](https://user-images.githubusercontent.com/6695156/32851718-cda614cc-ca5b-11e7-9176-7e9f80aec4e9.png)
![screenshot from 2017-11-15 23-24-39](https://user-images.githubusercontent.com/6695156/32851925-715a49da-ca5c-11e7-9e2e-865c5a977473.png)

[2017-11-15 18:03] cloudbehl commented on #268
@julienlim can you suggest something to overcome this Issue. I have tried giving more space to these panels(please check the below image). Does it look ok or do you have anything else in mind?

![screenshot from 2017-11-15 23-29-15](https://user-images.githubusercontent.com/6695156/32852084-ede8431c-ca5c-11e7-8247-f5e64aef421a.png)

[2017-11-16 12:04] cloudbehl opened #269 "Top 5 Utilization by Bricks' panel"
'Top 5 Utilization by Bricks' panel doesn't show top 5 most used bricks.

[2017-11-16 13:58] julienlim commented on #268
Noting that it appears the reason for the issue appears to be very long host names which are wordwrapping causing the scrolling to occur.  This problem still persists with the different visualization, e.g. bar charts (https://github.com/Tendrl/monitoring-integration/issues/151).

[2017-11-16 14:05] julienlim commented on #268
@cloudbehl Some suggestions is to try turning the non-top 5 panels into trend utilization charts.  For top 5 panels, stretch them wider?  Do you want to try that?

[2017-11-16 14:08] julienlim commented on #252
From looking at https://github.com/Tendrl/monitoring-integration/pull/264, it's mount point utilization for the brick.

[2017-11-16 14:18] nnDarshan opened #271 "push volume inode usage from etcd to graphite"

[2017-11-16 19:26] julienlim opened #273 "Top File Operations panel is not clear what it's showing with "Used""
In looking at the Volume dashboard > "Top File Operations" panel, it's not clear to the user what the "Used" column is showing.  Is this a count, is the % latency, etc.?

In the [Volume dashboard spec](https://github.com/Tendrl/specifications/issues/224), here's what was written:

Panel 25: Top File Operation (% Latency)
show the top 5 FOP (file operations) with the highest % latency
infotip: % la

[2017-11-17 09:21] cloudbehl opened #274 "Inode utilization on volume dashboard is not correct"
Linking https://github.com/Tendrl/monitoring-integration/issues/271

[2017-11-17 17:42] #274 closed

[2017-11-17 17:42] #271 closed

[2017-11-17 17:48] r0h4n commented on #35
Fixed: https://github.com/Tendrl/commons/commit/ffaa90a8e7fa1aa930afcf2a444a7f02fae82453

[2017-11-17 17:48] #35 closed

[2017-11-17 17:52] r0h4n commented on #145
Closing this, @mkudlej  please file individual bugs if any issues persists.

[2017-11-17 17:52] #145 closed

[2017-11-17 17:56] r0h4n commented on #174
Closing this since not verified beyond a week

[2017-11-17 17:56] #174 closed

[2017-11-17 17:57] r0h4n commented on #191
Closing since not verified by reporter since a week

[2017-11-17 17:57] #191 closed

[2017-11-17 17:58] r0h4n commented on #194
I would suggest we track the new change requests in a separate issue.

[2017-11-17 17:58] #194 closed

[2017-11-17 18:00] #260 closed

[2017-11-17 18:01] r0h4n commented on #266
Are you using tendrl-ansible to install Tendrl? Please try to reproduce the issue on a deployment done using tendrl-ansible

tendrl-ansible: https://github.com/Tendrl/tendrl-ansible

[2017-11-17 18:01] #266 closed

[2017-11-17 18:02] #269 closed

[2017-11-17 19:41] cloudbehl opened #278 "Adding screenshots of 1.5.4 release to grafana"

[2017-11-20 08:19] SaravanaStorageNetwork commented on #266
We(gluster-kubernetes) are planning to write a Dockerfile for running tendrl server in container, hence manual steps should work too.

@r0h4n Could you help in filling the gaps in manual steps?
I can provide the logs necessary

[2017-11-20 13:44] cloudbehl opened #279 "Cluster Id is not showing up properly, when navigated from volumes widget from the dashboard"
Under cluster id, it is showing clusterid+clusterid while navigating

[2017-11-20 14:41] julienlim commented on #194
@r0h4n Can you please list what the GitHub issues are so I can track them?

[2017-11-21 08:35] SaravanaStorageNetwork opened #281 "No module named cliutils.cliutils"
I was trying to setup tendrl using tendrl-ansible.

But , tendrl-monitoring-integration failed with following error:
`[root@tendrlserver ~]# tendrl-monitoring-integration
Creating namespace.monitoring from source tendrl.monitoring_integration
namespace.monitoring created!
Finding objects in namespace.monitoring.objects
Registering object namespace.monitoring.objects.AlertTypes
Finding atoms in nam

[2017-11-21 13:35] nixpanic commented on #281
I am not really sure what the problem above is, the traceback does not show sufficient detail to me. However I can explain how python-gluster is expected to interact with other components.

RPMs only allow contents to be part of a single package. The `.../site-packages/gluster` namespace is provided by python-gluster (the directory and the `__init__.py` file). Other projects that add more packages

[2017-11-22 04:48] SaravanaStorageNetwork commented on #281
@nixpanic  I think there is another cliutils module which clashes with python-gluster.
Tendrl team is working on this

@GowthamShanmugam @nthomas-redhat  FYI

[2017-11-22 05:53] #279 closed

[2017-11-22 05:53] #278 closed

[2017-11-22 06:20] GowthamShanmugam commented on #281
The problem is in tendrl we are maintaining in alert handlers in monitoring-integration-component
handlers are maintained in two different directories
    1. node - all node related alert handlers
    2. Cluster - all cluster related alert handlers
              In cluster directory, there is a subdirectory called "gluster", this directory contains all gluster related alert handlers. Here the prob

[2017-11-22 15:11] cloudbehl opened #283 "Rebalance status not mapped properly"

[2017-11-23 05:04] #283 closed

[2017-11-23 05:05] #268 closed

[2017-11-23 06:44] GowthamShanmugam opened #285 "Host dashboard panel deletion have some problem for peer disconnect"
Need to remove host panel from grafana alert dashbaord when host is disconnected

[2017-11-23 06:45] GowthamShanmugam opened #286 "When brick or volume is deleted complete brick related details are not deleted from graphite"

[2017-11-23 08:01] GowthamShanmugam opened #289 "Need to fetch brick path from actual brick directory in etcd"
Currently, brick path is identified and assigned to alert dashboard metrics from subvolumes,

Actual brick name is : /gluster/brick_master  So graphite have entry like ( |gluster|brick_master)
lets take an example subvolume entry is like hostname:_gluster_brick_master, when we are trying to replace underscore it will convert like |gluster|brick|master. It is never matched with graphite so graph al

[2017-11-23 14:29] cloudbehl opened #291 "rebalance counters are needs to be corrected"
The value for rebalance size, files and failure was is not correct

[2017-11-24 09:33] TimothyAsirJeyasing opened #295 "RPM update returns service enable message"
RPM update is successful. However it returns service enable message which needs to be truncated.

https://github.com/Tendrl/monitoring-integration/blob/master/tendrl-monitoring-integration.spec#L77
This will create a symbolic link from the system's copy of the service file (usually in /lib/systemd/system or /etc/systemd/system) into the location on disk where systemd looks for autostart files (usu

[2017-11-27 10:00] #291 closed

[2017-11-27 10:01] cloudbehl opened #297 "Heal info needs metric change"

[2017-11-29 11:37] #297 closed

[2017-11-29 11:37] cloudbehl opened #300 "Add pending heal to grafana"

[2017-11-29 13:04] SaravanaStorageNetwork commented on #281
@GowthamShanmugam  Could you rename the folder name then ?

[2017-11-29 18:39] cloudbehl opened #302 "Adding units to the rebalance-size info on volume dashboard"

[2017-12-04 13:09] #302 closed

[2017-12-04 13:10] #300 closed

[2017-12-04 13:12] cloudbehl opened #307 "Adding timer to the Status tabs in grafana"
The "Last time" needs to be added for add the status panels in grafana dashboard. Last time will ensure that the data is not stale.

[2017-12-04 13:13] cloudbehl opened #309 "[RFE] Dynamic initialization of timer based on backend sync cycle time"

[2017-12-09 10:18] #307 closed

[2017-12-09 10:19] cloudbehl opened #314 "[Grafana] Add healing info on brick dashboard and remove from volume dashboard"

[2018-01-09 07:45] nthomas-redhat opened #318 "Same volume names across multiple clusters mess up the brick info shown on the dashboard"
If you create volumes with same names across multiple clusters, dashboard shows brick numbers as sum of the brick numbers of volumes across multiple clusters.

[2018-01-09 14:24] dahorak opened #319 "tendrl-monitoring-integration should not depend on old version of Grafana"
Package `tendrl-monitoring-integration` depends on Grafana with lower version than 4.5.3:
[code]
But Grafana repo contains also newer version 4.6.x:
[code]

This breaks (among other thinks) `yum update`:
[code]

[2018-01-10 05:57] GowthamShanmugam commented on #289
This issue is fixed, i am closing this

[2018-01-10 05:57] #289 closed

[2018-01-10 05:58] GowthamShanmugam commented on #285
This issue is fixed, i am closing this

[2018-01-10 05:58] #285 closed

[2018-01-10 06:00] GowthamShanmugam commented on #259
This issue is fixed, i am closing this

[2018-01-10 06:00] #259 closed

[2018-01-10 06:21] GowthamShanmugam commented on #281
We can change folder, no issue, i will change it

[2018-01-10 06:28] GowthamShanmugam commented on #281
Currently, we are not suporting to install gluster on a tendrl serve, @nthomas-redhat is this is a valid issue?

[2018-01-10 06:30] GowthamShanmugam commented on #257
@shtripat is this issue is fixed? if yes please close this

[2018-01-10 06:36] shtripat commented on #257
This is fixed. Closing now.

[2018-01-10 06:36] #257 closed

[2018-01-10 06:43] SaravanaStorageNetwork commented on #281
@GowthamShanmugam  @nthomas-redhat  I think it is a valid issue. Any specific reason to not support gluster install on a tendrl server ? Please note, user may have already installed gluster on a node prior to tendrl server installation

[2018-01-12 06:17] #314 closed

[2018-01-12 06:28] cloudbehl opened #320 "no Grafana authentication/authorization"
Grafana is used without any authentication/authorization. If someone knows URL he/she can use Grafana the same way as any tendrl user. No secure connection is granted using link from tendrl UI to Grafana.

[2018-01-12 06:34] cloudbehl opened #321 "decbytes and bytes on dashboards"
tendrl-gluster-bricks.json
"The Capacity Available panel displays the available capacity for a given volume."
uses binary metric powers of 1024 - "format": "bytes", while
"The Weekly Growth Rate panel displays the forecasted weekly growth rate for capacity utilization computed based on daily capacity utilization."
uses decimal pwers of 1000 - "format": "decbytes"

[2018-01-12 06:35] cloudbehl opened #322 "After tendrl-server reboot, Not able to see information on the grafana dashboard"
After tendrl-server reboot, all tendrl services are coming up online. Unable to see the information on the dashboard.

[2018-01-23 20:31] julienlim commented on #77
Related Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1515230

[2018-01-24 04:09] nthomas-redhat commented on #286
@GowthamShanmugam , is this already taken care?

[2018-01-24 04:10] nthomas-redhat commented on #281
@GowthamShanmugam , can you take a look at this?

[2018-01-24 04:14] nthomas-redhat commented on #251
@julienlim , what changes to the label you suggest here?

[2018-01-24 05:21] GowthamShanmugam commented on #281
@nthomas-redhat i will fix this

[2018-01-24 18:18] julienlim commented on #251
Related Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1511687

From looking at [monitoring-integration/etc/tendrl/monitoring-integration/grafana/dashboards/tendrl-gluster-bricks.json](https://github.com/Tendrl/monitoring-integration/blob/daee676541b31598a9f575aff37942f3b7179ba8/etc/tendrl/monitoring-integration/grafana/dashboards/tendrl-gluster-bricks.json), here is what I saw:

(1) the fi

[2018-01-24 21:12] julienlim commented on #251
Can IOPS for the volume be derived from the bricks IOPS (if we're capturing it above)?  This is raised in https://bugzilla.redhat.com/show_bug.cgi?id=1514054 (missing Volume IOPS panel).

@brainfunked @cloudbehl @nthomas-redhat @Tendrl/tendrl-core @Tendrl/tendrl-qe @mcarrano

[2018-01-30 08:07] cloudbehl commented on #243
1. Which Color line we should show for a threshold breach? Are we planning to go with a yellow line?

[2018-01-30 19:34] julienlim commented on #243
@cloudbehl Do we have multiple threshold values or just a single one?

[2018-01-30 19:49] julienlim commented on #243
@cloudbehl  @mcarrano @Tendrl/tendrl-qe

How many threshold values are set, and what value are they set to?

Per https://github.com/Tendrl/ui/issues/701, I recall we had specified there that "If the progress bar has reached to 80% and above [Warning level] it should be changed to yellow and if reaches to 90% or above [Major / Critical level] it should be changed to Red."

I would try and follow th

[2018-01-31 21:22] julienlim opened #324 "Host Dashboard - 3 of the Brick panels are unclear what they are about"
As mentioned in one of the comments in the [Host Dashboard Spec](https://github.com/Tendrl/specifications/issues/223#issuecomment-362070848), there are 3 panels that somewhat ambiguous what they intend to show the user.

![image](https://user-images.githubusercontent.com/5589919/35648098-9174754c-06a2-11e8-9ba5-2be018336913.png)

Specifically, are the 3 Panels (Brick Utilization, Brick Capacity, a

[2018-02-01 01:58] GowthamShanmugam opened #325 "Refactoring of monitoring_integration"
Steps which is required to optimize the monitoring-integration is:

* Currently alerting dashbaord and organization creation happening from two different places:
          1. When monitoring integration is started then CreateAlertDashboard() is called from start() in
              manager.py
           2. Thread for alerting dashbaord update also try to create alerting dashbaord and organization

[2018-02-01 01:58] GowthamShanmugam commented on #325
@cloudbehl you can update your refactoring work here

[2018-02-01 01:59] GowthamShanmugam commented on #325
@r0h4n @shirshendu

[2018-02-02 08:44] nthomas-redhat commented on #324
Your assumption is correct; right now its showing total storage capacity available on that host(aggregate all capacity allocated for bricks), and the utilization(data and trend)

I am ok with this suggestion.

@julienlim, How the above two panels are going to differ(Top Bricks by Capacity Utilized and Top Bricks by Capacity Percent Utilized)? I don't think it make a value add, if everyone is convi

[2018-02-02 14:39] julienlim commented on #324
@nthomas-redhat

With regards to Top Bricks by Capacity Utilized and Top Bricks by Capacity Percent Utilized, yes they are similar, but it's just looking at it from different perspectives.

Let's say the 2 highest capacity utilized bricks is as follow:
* 85% utilized 1TB brick (~150GB remaining)
* 85% utilized 100GB brick (~15GB remaining)

In looking at these 2, the 85% only tells us where to foc

[2018-02-07 12:35] nthomas-redhat commented on #251
Yes we collect that.
Ack, we will make the label changes accordingly

[2018-02-07 12:42] nthomas-redhat commented on #324
Ack

[2018-02-07 15:03] julienlim commented on #251
@nthomas-redhat @cloudbehl Please change labels as well as descriptions (so it will be clear to user what it's about).  Thanks.

[2018-02-09 09:58] cloudbehl opened #330 "Non-Uniformity in utilization values of volume and brick"
In graphite, the volume capacity(Total, Used) is coming in kilobytes and the bricks capacity(Total, Used) is coming in bytes and which is creating confusion in calculations.

I checked in backend also and we storing the volume in KB and bricks capacity in Bytes. so can we make the values uniform?

http://[ip]/v2/keys/clusters/e372c01c-5022-41ce-9412-e96038bca305/Volumes/20d584c3-6e80-466f-9004-db7

[2018-02-09 09:58] cloudbehl commented on #330
@r0h4n @shtripat @nthomas-redhat ^^

[2018-02-12 07:00] cloudbehl commented on #243
@julienlim In grafana, we are only setting the bar yellow bar(warning sign) at 80% there is no Critical Level we are setting.

[2018-02-12 07:02] cloudbehl commented on #252
@julienlim yes it's mount point utilization for a brick

[2018-02-12 08:54] #222 closed

[2018-02-12 09:03] cloudbehl opened #332 "if more then one cluster the counter values in grafana is getting aggregated"
$subject

The counter cards(Vonage cards) are showing wrong values in grafana.

[2018-02-12 09:03] cloudbehl commented on #332
@GowthamShanmugam can you please have a look at this.

[2018-02-12 13:41] fbalak opened #334 "No statistics for Bricks when `All` is selected as `Volume Name`"
No information is shown (all charts are empty) when option `All` for parameter `Volume Name` in `Bricks` dashboard is selected. Other parameters `Host Name` and `Brick Path` are empty with this configuration. Option `All` for parameter `Volume Name` should not be present.

![0212_bricks](https://user-images.githubusercontent.com/22369801/36099375-b8bbd19a-1002-11e8-830f-2150d4a78bb5.png)

Tested w

[2018-02-12 14:34] julienlim commented on #252
@cloudbehl Are we going to change the label for the chart to "Mount Point Utilization" and update Description accordingly?

[2018-02-12 14:37] julienlim commented on #243
@cloudbehl Ack.  So, what we will want to do is show a yellow line to indicate the 80% threshold and indicate in a tooltip that the 80% threshold was breached.  Can you please update/fix?

[2018-02-13 08:43] fbalak opened #335 "Plugin Error"
When I open grafana then on all dashboards is this error:
[code]
And on `Gluster-at-a-Glance` dashboard are missing `Hosts`, `Volumes`, `Bricks` and `Geo-Replication Session` panels.

![0213_plugin_error](https://user-images.githubusercontent.com/22369801/36140620-25948e16-10a2-11e8-92d8-349b8ec72d8f.png)

Tested with:
[code]

[2018-02-13 13:13] nthomas-redhat opened #336 "Fix issues with travis ci - vulture environment"
Vulture env is not setup properly and hence the ci is failing.

[2018-02-13 13:23] #336 closed

[2018-02-16 07:54] GowthamShanmugam opened #339 "grafana_host and grafana_port is missing in monitoring_integration.conf file"
While refactoring grafana_host and grafana_port are not added in monitoring_integration.conf

[2018-02-16 09:39] r0h4n opened #341 "Use "integration_id" instead of "cluster_id""
It is seen that many places in this codebase the term "cluster_id" is used, please change it to "integration_id", there is no such thing as cluster_id for tendrl backend.

[2018-02-16 10:06] GowthamShanmugam commented on #339
this issue is fixed

[2018-02-16 10:06] #339 closed

[2018-02-16 10:06] GowthamShanmugam commented on #325
This issue is fixed

[2018-02-16 10:08] GowthamShanmugam commented on #286
It seems i wrongly raised this issue, brick details are removed correctly from graphite,

[2018-02-16 10:08] GowthamShanmugam commented on #286
i am closing this issue

[2018-02-16 10:08] #286 closed

[2018-02-16 10:10] GowthamShanmugam commented on #256
I think we can configure this, @cloudbehl is that possible to fix this?

[2018-02-17 10:14] #335 closed

[2018-02-17 10:14] #325 closed

[2018-02-21 17:15] julienlim commented on #261
@ltrilety @r0h4n @nthomas-redhat @Tendrl/qe @jjkabrown1

Have we done any Graphite disk usage estimates for following sizes (I tried to come up with 3 "sizes" based on some typical deployments):

**Small**

- 4-6 node cluster
- 2-4 volumes in the cluster
- 2-4 bricks per node

**Medium**

- 8-12 node cluster
- 4-6 volumes in the cluster
- 6-8 bricks per node

**Large**

- 24-36 node cluster
- 6-8

[2018-02-22 04:52] nthomas-redhat commented on #261
@julienlim, the formula for the calculation is already provided in https://github.com/Tendrl/monitoring-integration/issues/261#issue-273785961, which is as below:

`Size on disk: 49767242(~48 MB per cluster) + (no of host * (~382 MB per host)) + (no of LVM disk * (24 MB per disk)) +(no of virtual disk * (30 MB per disk)) + (no of bricks * (86 MB per brick)) + (no of devices * (36 MB per device)) +

[2018-02-22 07:19] ltrilety commented on #261
@nthomas-redhat @julienlim @shtripat it's great we have a formula for 180 days period, but from what I see we should simplify it as it's not easy to read. We could use deployments in https://github.com/Tendrl/monitoring-integration/issues/261#issuecomment-367400672 and provide some numbers.
Of course first we have to decide how long we keep these metrics data. Moreover don't forget to count with f

[2018-02-22 08:55] GowthamShanmugam commented on #281
This issue is fixed, please close this @SaravanaStorageNetwork

[2018-02-22 09:14] #281 closed

[2018-02-22 14:57] julienlim commented on #261
@nthomas-redhat @shtripat @ltrilety @jjkabrown1

It's good to have a formula for the 180 day period, but we'll need to adjust according to the retention policies.

That being said, this formula is too cumbersome for someone to calculate.  We need to provide an easy-to-use calculator (think Ceph's pgcalc-like or some kind of spreadsheet), where user can input some numbers (e.g. # nodes in cluster,

[2018-02-26 05:00] #332 closed

[2018-02-26 05:02] cloudbehl commented on #324
@julienlim The Issue is fixed in upstream, can you please verify this bug.

[2018-02-26 05:02] #322 closed

[2018-02-26 05:02] cloudbehl commented on #321
Issue is fixed

[2018-02-26 05:02] #321 closed

[2018-02-26 05:06] cloudbehl commented on #320
No plans to fix this Issue hence closing it for now.

[2018-02-26 05:06] #320 closed

[2018-02-26 05:07] cloudbehl commented on #319
@dahorak Hard dependency is removed now, can you verify this Issue.

[2018-02-26 05:08] cloudbehl commented on #309
No plans to fix, hence closing this Issue for now.

[2018-02-26 05:08] #309 closed

[2018-02-26 05:09] cloudbehl commented on #318
@GowthamShanmugam Is this Issue fixed? can you please check.

[2018-02-26 05:30] nthomas-redhat commented on #261
@cloudbehl, @r0h4n  , let us sync up and put together guidelines for possible standard configurations

[2018-02-26 05:36] cloudbehl commented on #261
@nthomas-redhat ack!

[2018-02-27 04:48] GowthamShanmugam commented on #318
This issue is fixed in part of refactoring patch

[2018-02-27 04:48] GowthamShanmugam commented on #318
We can close this issue @cloudbehl

[2018-02-27 07:08] cloudbehl commented on #252
@julienlim can you provide a description of the Mount Point Utilization panel.

Sorry, If you have already provided I am not able to find it. Thanks

[2018-02-27 10:58] GowthamShanmugam opened #346 "Threshold breached Alert needs to be generated usage above 90%"
Currently, we are raising warning alert when volume or brick or host utilization crosses 75%.
let's take an example when brick utilization reaches 80% then it will raise warning alert. But tendrl won't raise an alert when utilization is increased from 80% to 90% or above. Because tendrl already raised warning alert.

When utilization reaches 90% or above tendrl need to raise an alert with critical

[2018-02-27 11:02] GowthamShanmugam commented on #346
Problem with grafana is even if we add multiple alert conditions it won't raise alert for each alert condition. Just it will update the alert with current utilization value.

if alert dashboard panel has two alert conditions for 75% and 90% but an alert will raise only once for only one alert condition.
if alert raised for 75% then it won't again raise an alert when utilization reaches 90%.

[2018-02-27 11:08] GowthamShanmugam commented on #346
one suggestion from @cloudbehl is for each brick or volume or node create two alert panels in grafana dashbaord. So one for 75% and another one for 90%. So when utilization reaches 75% panelA will raise an alert. if utilization is increased from 75% to 90% then panelB will raise alert. if suddenly utilization reaches to 90% from 0% or above then both will raise alert so as per current implementati

[2018-02-27 11:37] shtripat commented on #346
@GowthamShanmugam @cloudbehl I like the idea. But one question, how frequent somebody looks at alert dashboard? Why I ask this question is because it might look more cluttered. If we maintain only for purpose of mail/snmp traps notifications I am in favor of this actually.

Comments?

[2018-02-27 12:00] cloudbehl commented on #346
@shtripat Ideally user is not allowed to see the alert dashboard from grafana. It is just for the user to get the email notification and get the alerts on the UI notification.

[2018-02-27 14:38] julienlim commented on #252
@cloudbehl

Label: Mount Point Utilization
Description: Mount Point Utilization for a given brick over a period of time.

[2018-02-28 03:16] nthomas-redhat commented on #346
Sounds good to me. But we need to make sure those are deleted/updated when there are changes. Dealing with multiple copies is always going to be an issue. @GowthamShanmugam , @cloudbehl

[2018-02-28 09:13] cloudbehl opened #348 "Brick Utilization: threshold breached Alert needs to reference gluster volume name"
When a gluster volume usage goes above 75% an Alert is generated with only the brick volume group with no easy way to reference back to the gluster volume name. This is a big issue for CRS and OpenShift. If a gluster volume goes above 75% the only way to map to OCP Persistent Volume name is via the gluster volume name, not the brick or volume group name.

Steps to Reproduce:
1.Identify gluster vol

[2018-03-01 12:30] cloudbehl opened #350 "We need to remove the hard-coding of dashboard names from code"
https://github.com/Tendrl/monitoring-integration/blob/583e76f91bc644710ce953a6566adc5654f8e0d8/tendrl/monitoring_integration/grafana/alert_utils.py#L16

[2018-03-01 12:32] cloudbehl commented on #350
https://github.com/Tendrl/monitoring-integration/blob/583e76f91bc644710ce953a6566adc5654f8e0d8/tendrl/monitoring_integration/grafana/alert_utils.py#L18

https://github.com/Tendrl/monitoring-integration/blob/583e76f91bc644710ce953a6566adc5654f8e0d8/tendrl/monitoring_integration/grafana/alert_utils.py#L41

[2018-03-02 07:00] nthomas-redhat opened #351 "Unmanage cluster fails if triggered immediately after import"
error Failure in Job 1f219796-cc1b-434f-92e9-0a55ab43f7ee Flow tendrl.flows.UnmanageCluster with error: Traceback (most recent call last): File "/usr/lib/python2.7/site-packages/tendrl/commons/jobs/__init__.py", line 208, in process_job the_flow.run() File "/usr/lib/python2.7/site-packages/tendrl/commons/flows/unmanage_cluster/__init__.py", line 82, in run raise ex AtomExecutionFailedError: Atom E

[2018-03-02 11:51] nthomas-redhat opened #353 "Unmanage - Alert dashboards are not cleaned appropraitely"
I could see that bricks dashboard is cleaned up
Hosts, Volume dashboard remains as it is.

[2018-03-02 11:57] nthomas-redhat opened #354 "Zombie alert dashboard exists in grafana"
Even if we delete the resources from tendrl using un-manage or out of band deletes of volumes etc., it gets re-created during the subsequent sync. This needs to be prevented or cleaned up appropriately.

[2018-03-03 03:09] nthomas-redhat opened #356 "Lock down the grafana version to latest 4.6.x"
grafana 5.0.0 has compatebility issues. Lock down to latest 4.6.x version until the issues are fixed

[2018-03-03 03:13] nthomas-redhat opened #357 "Make tendrl compatible with Gragfana 5.x.x"
Fix the compatebility issues with grafana 5.0.0.
One major issue I have seen is that the alert dashboards are not loaded into grafana 5.0.0. Require extensive testing and fixes. Please update the issues here so that we can keep track

[2018-03-03 03:13] nthomas-redhat commented on #356
https://github.com/Tendrl/monitoring-integration/issues/357

[2018-03-03 08:27] GowthamShanmugam commented on #346
We are facing few problem in above-proposed logic, problems are we are decided to maintain two alert panels in grafana for each resource, one is for raise warning alert and another one is for raise critical alert (because once grafana raised alert without clearing alert it won't raise alert again, but we need to raise alert like for threshold breach of 75-90%  we need warning alert and 90 to 100%

[2018-03-03 13:53] nthomas-redhat commented on #346
@GowthamShanmugam , Are we doing the rest-api call to get graphite stats(for aggregation etc) in tendrl(any services)?

The problem with this approach is that we might see multiple warning/crtical and clearing alerts during the transion from normal->warning->critical and back. This might be confusing and at the end multiple unwnated alerts to send out. This will be feasible only if the clearing al

[2018-03-05 02:07] shtripat commented on #346
I am pretty fine with getting data points from etcd or graphite as long it serves our purpose. Also in parallel we should check with grafana community on getting data points while clearing alerts. The solution we are suggesting could be a workaround till we have prpoer solution from garafan side itself. @r0h4n thoughts?

[2018-03-05 09:39] r0h4n commented on #346
I would suggest not to update alerts that are already triggered, instead generate new alert with whatever new threshold and severity. The reason for this is that the alerts might be serving as triggers for the Tendrl user and if we update the same old alert with new severity instead of creating a new alert, this might cause issues with the external triggers/automation around Tendrl alerts

[2018-03-05 10:11] ltrilety commented on #346
I agree with @r0h4n. I think that we could live with two alerts for the same resource. Lets say in your example warning alert will be active if the resource is used more than 75% in other words no clearing alert for this one if the 90% barrier is breached. It makes sense as the warning is still valid even when the critical is raised.

BTW another point of view is for snmp traps. Probably all softw

[2018-03-05 10:33] GowthamShanmugam commented on #346
I agree with @ltrilety, @nthomas-redhat in this case we don't need range we can directly set condition above 75% in warning panel and above 95% in critical panel

[2018-03-05 10:35] cloudbehl commented on #346
@ltrilety @r0h4n In agreement with both of you :+1:

[2018-03-05 11:22] nthomas-redhat commented on #346
@ltrilety , I don't agree with this. At any point we should not see two alerts for the same type i.e., for ex warning and critical alert for CPU utilization should not exist at the same time. @r0h4n ^

@GowthamShanmugam , I don't think you can leave out the ranges, without that you end up in the above situation.

Also I am worried about the number notifications(email/snmp) send out during the tran

[2018-03-05 13:02] ltrilety commented on #346
That's something which doesn't bring much worries to me.
As I said for snap traps it's accepted that the traps are sent repeatedly. Actually snmp traps counts with that and it should be like that. Meaning even the same trap should be sent repeatedly in some time interval, not just sending traps when the change happen.
For smtp(email) I think that's acceptable too. Even the part with repeating the

[2018-03-05 15:38] dahorak opened #360 "Inconsistency when using fqdn and "short" host names"
Usage of "short" host names (for example `node1` instead of `node1.example.com`) when creating gluster volume cause inconsistency in the data displayed by Grafana (duplicated hosts, inconsistent status,...).
The short hostnames have to be properly resolvable to IP for example by creating proper records in `/etc/hosts` file.

For more information see https://bugzilla.redhat.com/show_bug.cgi?id=1517

[2018-03-05 15:42] dahorak opened #361 "Inconsistency when using IP addresses during gluster peer probe"
When Gluster Trusted Storage Pool is created using IP addresses (not hostnames), Grafana lists each host twice - by hostname and by IP address.

Steps to Reproduce:
1. Prepare Gluster Cluster, use IP addresses in gdeploy configuration file (instead of hostnames):
  Example gdeploy configuration file:
[code]

2. Install and configure Tendrl Server and Tendrl Node Agents.
3. Import Gluster Cluster i

[2018-03-06 11:08] GowthamShanmugam opened #363 "Modified log message priority into debug which are all not required any user interaction"

[2018-03-06 11:52] #354 closed

[2018-03-06 11:52] #353 closed

[2018-03-06 14:14] julienlim commented on #346
+1 in generating new alert and not updating a previously triggered alert.

Some additional notes noted in https://github.com/Tendrl/documentation/wiki/Architecture-Meeting-Notes (6 March 2018).

[2018-03-06 16:56] GowthamShanmugam commented on #363
This issue is fixed i am closing this issue

[2018-03-06 16:56] #363 closed

[2018-03-06 19:50] r0h4n opened #365 "Brick status value for "Gluster-at-a-glance""
Attached screen shot, "Volume status"  "Host status"  show "status" column as 0 for active

But the Brick status has "status" column as 1 for active.

Any reason for this different behavior with brick statuses ?

![screenshot from 2018-03-07 01-16-06](https://user-images.githubusercontent.com/369941/37054763-bc9e82bc-21a5-11e8-9516-c0f1f4a8c39c.png)

[2018-03-06 22:03] cloudbehl commented on #365
@r0h4n There is logic written in grafana for coloring the panel based upon these values that's why the different values are assigned to a different status.

volume status and node status comes as "UP" and "Down" whereas the brick status comes as "Started" and "Stopped".

Status Mapper[1] for grafana:

[1]. https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_integration/g

[2018-03-07 16:59] nthomas-redhat opened #370 "Exception in logs"
Mar  7 21:47:16 server tendrl-monitoring-integration: Exception in thread Thread-600:
Mar  7 21:47:16 server tendrl-monitoring-integration: Traceback (most recent call last):
Mar  7 21:47:16 server tendrl-monitoring-integration: File "/usr/lib64/python2.7/threading.py", line 812, in __bootstrap_inner
Mar  7 21:47:16 server tendrl-monitoring-integration: self.run()
Mar  7 21:47:16 server tendrl-mon

[2018-03-08 12:26] GowthamShanmugam opened #372 "Error while parsing alert_dashboard from grafana 5.0.0"
grafana 5.0.0 supports backward compatibility, It creates alert_dashboard with json which we are passing. And it gives the same json when we send dashboard API request to grafana. problem with the new version is when someone does save operation in grafana directly in grafana then dashboard json is converted to a new version of json. So the alert dashboard logic in monitoring-integration is affecte

[2018-03-08 12:33] GowthamShanmugam commented on #372
@shtripat @nthomas-redhat @r0h4n suggestion please

[2018-03-13 09:12] ltrilety opened #373 "various alerts numbers"
The number of cluster alerts does not always correspond to the other available alerts numbers. Moreover those numbers not always correspond with actual state of the cluster.

E.g.
 - I had 2 as number of alerts on Clusters page, whilst related Volumes and Hosts shows all 0. The same for the alert list.
 - In another case I had 1 alert on the Clusters, related Volumes and Hosts shows all 0 and Aler

[2018-03-13 09:15] ltrilety opened #374 "hosts alerts number"
API `nodes` call is not always returning number of alerts per node, only when some alert happens for the node. That leads to situation when UI says `No Data`. Which is correct from UI perspective because there really are no data. However as monitoring software we are aware how many alerts we got. So proper behaviour for API will be to report 0 alerts in the case when no alert comes at all.

Tendrl

[2018-03-13 09:28] r0h4n commented on #374
@GowthamShanmugam

As @shirshendu  suggested, we need default (0) values for all alert counter objects
-
 https://github.com/Tendrl/commons/blob/master/tendrl/commons/objects/cluster_node_alert_counters/__init__.py
- https://github.com/Tendrl/commons/blob/master/tendrl/commons/objects/node_alert_counters/__init__.py
- https://github.com/Tendrl/commons/blob/master/tendrl/commons/objects/cluster_ale

[2018-03-13 12:53] GowthamShanmugam commented on #374
@r0h4n but already it default value is 0 only
https://github.com/Tendrl/commons/blob/master/tendrl/commons/objects/node_alert_counters/__init__.py#L7

[2018-03-14 06:46] r0h4n commented on #374
@Tendrl/api @Tendrl/frontend  Backend sets alert counter value to 0 as default. Could you guys check if tendrl/api or tendrl/ui correctly displays the default value (0) if no alerts found?

[2018-03-14 08:38] shirshendu commented on #374
![image](https://user-images.githubusercontent.com/1880361/37391376-005021dc-2791-11e8-925c-bef197350fe8.png)
We have `"warning_count": "0"` in the API. @Tendrl/frontend ?

[2018-03-14 09:18] gnehapk commented on #374
@r0h4n @shirshendu As per @mcarrano [comment ](https://github.com/Tendrl/ui/issues/658#issuecomment-334172813), UI displays `0`, if `warning_count` is `0` in API response else `No Data` in case no data is available for alert.

[2018-03-14 19:17] r0h4n commented on #372
Have you checked with the Grafana team about this irregularity? Maybe file an issue on them.

[2018-03-15 03:58] nthomas-redhat commented on #372
Anything related to 5.0.0 is lower priority as we already in agreement that we are not planning to upgrade in the upcoming release. So why testing with version? I suggest to use 4,x,x and worry about this later. @GowthamShanmugam

[2018-03-15 06:46] GowthamShanmugam commented on #372
@nthomas-redhat ok

[2018-03-15 10:35] dahorak commented on #319
@cloudbehl, @r0h4n: There seems to be the same problem again:
https://github.com/Tendrl/monitoring-integration/blob/master/tendrl-monitoring-integration.spec#L12
[code]
While grafana repo already contains version `5.0.2-1`.

[2018-03-15 11:54] nthomas-redhat commented on #319
@dahorak , I think we already communicated this over the mailing list that we continue to use 4.x.x version until we are ready to upgrade to 5.x

[2018-03-15 12:12] ltrilety commented on #374
My scenario is very simple, just import the cluster and go to the cluster details - Hosts page.

![image](https://user-images.githubusercontent.com/22369834/37462489-629a2470-2852-11e8-84c0-85c582102a01.png)

![image](https://user-images.githubusercontent.com/22369834/37462451-43bbe20a-2852-11e8-8daa-2d0c485e2647.png)

[2018-03-15 17:37] GowthamShanmugam opened #375 "Volumes details flag check should be like not equals to true"
Volumes deleted flag's default value is None only, So checking flag == Flase won't work

[2018-03-16 10:50] r0h4n commented on #374
@GowthamShanmugam Please triage this, you have fixed this issue recently

[2018-03-16 10:55] r0h4n commented on #319
@dahorak Until we test (performance, backward compatibility) with > 5.0.0 and then repeat same test with 4.x.x with same results, we cannot move to 5.x.x

[2018-03-16 10:55] #319 closed

[2018-03-16 11:28] r0h4n commented on #365
There is scope to unify these statuses (up, started, down, stopped).  @nthomas-redhat  thoughts?

[2018-03-16 12:11] GowthamShanmugam commented on #374
@shirshendu only for cluster and volume only Api is returning alert, for nodes alert count api is not returning anything.

[2018-03-16 12:22] GowthamShanmugam opened #377 "Before cluster import monitoring integration consuming lot of cpu"
Monitoring_integration sync uses the sync_intevel value from gluster_ns but before import gluster namespace is not created so the loop is executed continuously without sleep, So it consumes lot of cpu.

[2018-03-16 17:51] GowthamShanmugam opened #379 "Passing integration_id also with utilization alert to increment cluster node alert count"
In cluster node alert increment integration_id is required to increment the alert count in /cluster/{cid}/nodes/{nid}/alert_counters, so we used NS.tendrl_context.integration_id to push the alert into etcd, problem is all utilization alerts are pushed by server node only, server node does not have integration_id to pass.

[2018-03-20 08:40] GowthamShanmugam opened #381 "Sometimes monitoring-integration is not creating alerting dashboard"
Before creating alert dashboard monitoring-integration checks the dashbaord for the same resource is already exists or not, the problem in this logic is even resource substring match with some other resource dashboard then it is considered as duplicate and dashboard is not created for the new resource.

for example: if dashbaord exists with name v11 then if it try to create new dashbaord for v1 th

[2018-03-20 12:15] cloudbehl opened #383 "Some huge numbers reported by grafana are hard to read and understand"
"Weeks Remaining" probably doesn't make much sense to show
  exact numbers for more than few years (and it might make sense to recalculate
  the number of weeks to number of months or years for longer periods).

  "Inode available" as this number doesn't have any unit (to prepend it with
  k,M,G...) it might make sense to show the number in form like:
  3124138767 ~ 3.1*10^9
  or something like th

[2018-03-20 12:16] cloudbehl commented on #383
![brick-dashboard](https://user-images.githubusercontent.com/6695156/37653946-8b743be8-2c66-11e8-9721-0847935da34e.png)
![dashboard](https://user-images.githubusercontent.com/6695156/37653947-8bf317ce-2c66-11e8-8ec6-5e9b2793f490.png)
![volume-dashboard](https://user-images.githubusercontent.com/6695156/37653948-8c2ac8e0-2c66-11e8-9f46-8dfe203ae795.png)

[2018-03-20 12:25] cloudbehl commented on #383
![screenshot from 2018-03-20 17-48-26](https://user-images.githubusercontent.com/6695156/37654114-095fb51e-2c67-11e8-80e3-28894b1856c5.png)

![screenshot from 2018-03-20 17-47-21](https://user-images.githubusercontent.com/6695156/37654109-09283c74-2c67-11e8-8bd5-64c6989934d6.png)

@dahorak @julienlim can we show the Inodes as shown in the picture(9e+6) I attached above? That's the best way I have

[2018-03-20 12:34] GowthamShanmugam opened #384 "Brick Utilization: threshold breached Alert needs to reference gluster volume name"

[2018-03-20 12:43] GowthamShanmugam commented on #381
This issue is fixed

[2018-03-20 12:43] #381 closed

[2018-03-20 12:43] GowthamShanmugam commented on #379
This issue is fixed

[2018-03-20 12:43] #379 closed

[2018-03-20 12:43] GowthamShanmugam commented on #377
This issue is fixed

[2018-03-20 12:43] #377 closed

[2018-03-20 12:44] GowthamShanmugam commented on #375
This issue is fixed

[2018-03-20 12:44] #375 closed

[2018-03-20 12:45] GowthamShanmugam commented on #374
This issue is fixed, please verify and close this issue @ltrilety

[2018-03-20 13:51] GowthamShanmugam commented on #373
@ltrilety I can't reproduce with latest master, need more info

[2018-03-20 15:19] cloudbehl commented on #350
@GowthamShanmugam ^^

[2018-03-20 17:51] julienlim commented on #383
@cloudbehl @dahorak

I commented on this bug recently in [BZ 1549146](https://bugzilla.redhat.com/show_bug.cgi?id=1549146) on what my recommendations were.  The suggestion of showing something in the form scientific (exponential) notation, e.g. 1E+04 or 2.4 x 10^4 etc., is not preferred as it's less usable and requires users to have to think harder to convert the number in their heads.

WRT Inodes

[2018-03-21 06:40] GowthamShanmugam commented on #346
This issue is fixed

[2018-03-21 06:40] #346 closed

[2018-03-21 06:43] GowthamShanmugam commented on #373
If you are able to reproduce it please share screenshot  also

[2018-03-21 06:44] GowthamShanmugam commented on #370
@nthomas-redhat I am not seen this exception in latest master

[2018-03-21 08:56] cloudbehl commented on #383
@r0h4n @nthomas-redhat any comments from your side?

[2018-03-21 09:30] cloudbehl opened #386 "Grafana Dashboard: Tooltip icons (providing description) for the Dashboard tab labels are distantly/unevenly placed"
The tooltip icons or dialogue box icons are not placed above the tab labels. For example, for the Hosts label, the tooltip appears to be placed between the airspace of the Overview tab and the Hosts tab. The user can't clearly make out which tooltip icon belongs to which label by a glance. Can we make the icons perpendicular to the labels or place above it or in proximity to the labels?
![uneven-t

[2018-03-21 09:54] GowthamShanmugam commented on #348
This issue is fixed, please verify and close this issue

[2018-03-21 10:25] GowthamShanmugam commented on #348
Tendrl/monitoring-integration/pull/385

[2018-03-21 12:37] nthomas-redhat commented on #370
thanks, I am closing the issue

[2018-03-21 12:37] #370 closed

[2018-03-21 12:55] nthomas-redhat commented on #384
Closing the issue as it is already fixed

[2018-03-21 12:55] #384 closed

[2018-03-21 13:00] nthomas-redhat commented on #374
@ltrilety ,Closing the issue. If you find any discrepancies, please re-open the issue

[2018-03-21 13:00] #374 closed

[2018-03-21 13:01] nthomas-redhat commented on #373
@ltrilety , Please provide the information requested. If not reproducible, close the issue

[2018-03-21 13:04] nthomas-redhat commented on #365
@cloudbehl , I agree with @r0h4n . This should be on the similar lines, otherwise its going to be really confusing. We need to take it up for this release.

[2018-03-21 13:05] nthomas-redhat commented on #357
https://github.com/Tendrl/monitoring-integration/issues/372

[2018-03-21 13:07] nthomas-redhat commented on #356
This is fixed

[2018-03-21 13:07] #356 closed

[2018-03-21 13:08] nthomas-redhat commented on #351
Closing the issue as it is fixed

[2018-03-21 13:08] #351 closed

[2018-03-21 13:10] nthomas-redhat commented on #348
Duplicate of https://github.com/Tendrl/monitoring-integration/issues/384
Closing the issue

[2018-03-21 13:10] #348 closed

[2018-03-21 13:26] nthomas-redhat commented on #383
I agree with @julienlim .

Earlier there was a request from field as well as it is really doesn't make sense for the customers it seems. Based on that there was an issue raised https://github.com/Tendrl/monitoring-integration/issues/201

[2018-03-21 13:37] nthomas-redhat commented on #334
@fbalak , is this issue reproducible?

[2018-03-21 13:53] cloudbehl commented on #383
@julienlim @nthomas-redhat Sure then will remove it.

@julienlim can you provide me the UX changes that will be required after the removal of the panels.

[2018-03-21 15:44] r0h4n commented on #146
@cloudbehl updates?

[2018-03-21 16:10] cloudbehl commented on #146
@r0h4n We haven't explored the possibility of adding the overruns till now.

[2018-03-21 17:52] GowthamShanmugam commented on #350
Need to be fixed in next release

[2018-03-21 17:58] cloudbehl commented on #330
It is taken care of the grafana side. The data is shown correctly on grafana but needs uniformity from a backend.

[2018-03-21 17:59] nthomas-redhat commented on #324
Closing as the fix is already in

[2018-03-21 17:59] #324 closed

[2018-03-21 18:00] #318 closed

[2018-03-21 18:03] #273 closed

[2018-03-21 18:04] mcarrano commented on #386
This was not my issue @cloudbehl so not sure I can comment on the intent. But looking at the screen shot you sent, I would expect the icons immediately t the right of the label, not above.

[2018-03-21 18:07] nthomas-redhat commented on #256
This is not relevant to what we are supporting. closing the issue

[2018-03-21 18:07] #256 closed

[2018-03-21 18:08] nthomas-redhat commented on #252
Fixed, closing the issue

[2018-03-21 18:08] #252 closed

[2018-03-21 18:08] nthomas-redhat commented on #251
Fixed. Closing the issue

[2018-03-21 18:08] #251 closed

[2018-03-21 18:13] cloudbehl commented on #250
can you provide the more details or screenshots?

[2018-03-21 18:21] nthomas-redhat commented on #228
Also there is https://github.com/Tendrl/monitoring-integration/issues/265 as well. Since the other issues are already in place, closing this issue

[2018-03-21 18:21] #228 closed

[2018-03-21 18:21] #224 closed

[2018-03-21 18:22] nthomas-redhat commented on #221
https://github.com/Tendrl/monitoring-integration/issues/265 already exists to track this. Closing this issue

[2018-03-21 18:22] #221 closed

[2018-03-21 18:24] nthomas-redhat commented on #200
Ack. Closing the issue

[2018-03-21 18:24] #200 closed

[2018-03-21 18:31] nthomas-redhat commented on #151
Current design is reviewed and accepted by UX. Any changes in future will be driven by that team. Closing this issue. Open a RFE if any conflicts

[2018-03-21 18:31] #151 closed

[2018-03-21 18:35] nthomas-redhat commented on #150
Closing the issue as this is not in future roadmap. If its still a requirement let UX drive through a new RFE

[2018-03-21 18:35] #150 closed

[2018-03-21 18:35] nthomas-redhat commented on #149
Closing the issue as this is not in future roadmap. If its still a requirement let UX drive through a new RFE

[2018-03-21 18:35] #149 closed

[2018-03-21 18:36] nthomas-redhat commented on #147
Fixed

[2018-03-21 18:36] #147 closed

[2018-03-21 18:40] nthomas-redhat commented on #79
@julienlim ,  Is this still an ask? Can we continue with the current scheme of things?

[2018-03-22 07:15] cloudbehl opened #387 "Updating the screenshots of grafana"
1. volume dashboard
2. brick dashboard

[2018-03-22 08:58] GowthamShanmugam commented on #373
@ltrilety need more info

[2018-03-22 12:40] cloudbehl commented on #79
@GowthamShanmugam ^^

[2018-03-22 12:55] julienlim commented on #79
@nthomas-redhat @GowthamShanmugam @cloudbehl @r0h4n

Removing the "Tendrl - Gluster - " will make branding efforts easier.

Above recommendations still stand.  I still strongly recommend to simplify this to (without plural on Cluster, Host, Volume, and Brick):

Cluster Dashboard, Host Dashboard, Volume Dashboard, and Brick Dashboard

[2018-03-22 16:27] julienlim commented on #234
@cloudbehl @nthomas-redhat @r0h4n @jjkabrown1 @mcarrano

Putting a bit more context (User Stories) here:

* As a Gluster administrator, I would like to see disk-level metrics on my Gluster node so I can  troubleshoot and diagnose performance issues.
* As a Gluster administrator, I would like to compare disk metrics on my Gluster node to ensure load is probably distributed amongst my disks.

Below

[2018-03-22 16:58] julienlim commented on #199
Currently, the Impacted Status Table panels that display this behavior include the following panels:

* Cluster dashboard: Volume Status, Host Status, Brick Status
* Host dashboard: Brick Status
* Volume Dashboard: Brick Status

The descriptions are helpful (you click on the "i" in the panel's title to view it) but it's not easy to see and may get overlooked by users.  Reason for not being able to

[2018-03-22 18:07] julienlim commented on #383
@cloudbehl @nthomas-redhat @mcarrano @Tendrl/qe

After removing the inodes related panels, I've modified the panel layouts -- see Volume dashboard and Brick dashboard below (I made changes based on Tendrl 1.6.1 dashboards):

<img width="1266" alt="volume dashboard" src="https://user-images.githubusercontent.com/5589919/37789437-4916ff7c-2dda-11e8-9eb3-cd3e8da652cf.png">

<img width="1268" alt="bri

[2018-03-22 18:12] julienlim commented on #79
Note the screenshot examples with the Dashboard labels changed in https://github.com/Tendrl/monitoring-integration/issues/383#issuecomment-375404961.

[2018-03-23 08:34] ltrilety commented on #373
@GowthamShanmugam I tried it once more. You're right the scenario didn't bring the issue right away. However when I let the tendrl run the issue was hit again.
I was doing the same steps, but moreover I stopped one of available volumes and start it again after a while. The result is as follows:
clusters page - 3 alerts
hosts page - 0 alerts
volumes page - 4 alerts
alerts side window - 1 alert

![i

[2018-03-23 09:20] ltrilety opened #391 "Stopping volume - alerts"
If user stop a volume, such action generates a lot of alerts about bricks stop. That leads to state where the volume is stated as 'degraded' and even the cluster is declared as 'unhealthy' because of those stopped bricks.
We should differentiate this scenario from the one where bricks are stopping randomly. In this case stop of bricks is expected behaviour as the volume is stopped.

![image](https

[2018-03-23 11:27] GowthamShanmugam commented on #373
@ltrilety have you unmanaged cluster in that 4 days, Why i am asking this means I feel during unmanage cluster we are missing something
@shtripat ^

[2018-03-23 14:41] ltrilety commented on #373
@GowthamShanmugam nope, not this time. I didn't perform any un-manage of the cluster.

[2018-03-26 02:06] shtripat commented on #391
@ltrilety this is how it is implemented at the moment as based on state/status changes repoirted from `get-state` output from gluster these alerts are raised for entities. The expectation you have here actually means tendrl to have some kind hierarchical correlation to be set between entities while raising alerts and suppress for alerts for some entities based on some rules defined in system. This

[2018-03-26 09:19] cloudbehl commented on #383
@julienlim In volume Dashboard you have put snapshots in the capacity row, Is it snapshots part of a capacity row?

[2018-03-26 14:58] fbalak commented on #334
@nthomas-redhat yes, i was able to reproduce this with:
[code]
I selected `Volume Name` in `Bricks` dashboard as `All`.

[2018-03-26 15:09] GowthamShanmugam commented on #373
@ltrilety @r0h4n @shtripat problem is when glusterd stopped for some time then TTL for volume object is deleting entire volume details, including an alert count for that volume also. So when glusterd is started then again alert count is initialized by zero but still some warning alert present for that particular volume. So alert count in the cluster is not matching with volume alert count. Entire

[2018-03-26 15:12] shtripat commented on #373
I understand that alert counter is a different object from volume. Even if volume gets deleted due to ttl feel alert counter you should still retain and that should work out. What you say?

[2018-03-26 16:09] GowthamShanmugam commented on #373
@r0h4n @shirshendu i had discuss with @shtripat about this problem, So we are incrementing alert count when any warning alert came and decrementing any info alert came, Problem is any one time increment goes wrong then entire alert calculation will go wrong, So @shtripat suggested me like instead of storing alert count in etcd, we will calculate the alert count in API and send it to UI for the par

[2018-03-26 16:15] julienlim commented on #383
@cloudbehl Snapshots should not be part of the Capacity row.  It should be part of the first row.  You might have to resize the "Rebalance" panel to take less room to have Snapshots up on the first row.

[2018-03-26 16:19] cloudbehl commented on #383
@julienlim can you please check this if it's looking good or not?
![screenshot from 2018-03-26 21-47-27](https://user-images.githubusercontent.com/6695156/37918674-693e867c-313f-11e8-8153-b0394d8a03c7.png)

[2018-03-26 16:21] julienlim commented on #383
@cloudbehl
Overall looks good, but snapshots should be the last panel on the first row, and some of the ordering is not right on the first row.

It should be: Health, Bricks, Brick Status, Subvolume, Geo-rep sessions, Rebalance, Rebalance Status, Snapshots.

[2018-03-27 02:11] shtripat commented on #334
@cloudbehl is this related to rebalance data which was being sent for nodes which were not participating in a volume? If so this should be fixed by this time now. Can you please check and confirm ?

[2018-03-27 02:19] shtripat commented on #373
@r0h4n @shirshendu @nthomas-redhat why I say/suggest so is that maintaining counters could always be problematic with TTLs in place. What I suggest is that maintain the alerts for volumes and bricks as well at location as below in etcd

[code]

No need to maintain the counters at individual entities level. The object model which REST uses to return details in GET output for these entities can have

[2018-03-27 08:41] GowthamShanmugam commented on #373
@shtripat are you telling like storing alert
/alerts/alerts/{aid}
/alerts/nodes/{nid}/{aid}
/alerts/cluster/{cid}/nodes/{nid}/{aid}
/alerts/cluster/{cid}/clusters/{aid}
/alerts/cluster/{cid}/volumes/{vid}/{aid}
i

[2018-03-27 12:29] GowthamShanmugam commented on #373
The current alert directory structure is actually based on concept A, it does not actually work for concept B design structure. In concept A design node and cluster are listed separately and alert count are also displayed separately but in concept B problem is inside cluster we are displaying a node with the alert count so any alert which is related to node is increment node alert count but cluste

[2018-03-27 13:03] GowthamShanmugam commented on #373
The current alert directory structure is not fit with Concept B design because in concept A we displayed clusters and nodes separately But in concept B design we are displaying clusters and inside clusters, we are displaying nodes. Problem is when any alert which is related to the node then only alert count for the node is increased but if you see in cluster alert count shows 0 only. the node also

[2018-03-27 14:03] shirshendu commented on #373
Any changes to the alerts structure will need a corresponding change in API also, because we need to read the new structure to be able to present as an API.

At this point in the release cycle, I would recommend against changes in the fundamental way of saving alerts. @r0h4n would like to hear your thoughts as well here.
From what I could gather from @GowthamShanmugam on this issue, this bug is an

[2018-03-28 02:12] shtripat commented on #373
@GowthamShanmugam as discussed lets keep the dir structure as below

[code]

So this way last 3 would be used for count purpose only and first one for maintaining all the alerts across a cluster.

@GowthamShanmugam ^^^

[2018-03-28 08:43] cloudbehl opened #393 "vulture tests are getting failed"
for more information please have a look: https://travis-ci.org/Tendrl/monitoring-integration/jobs/359257038

[2018-03-28 08:58] cloudbehl commented on #387
Added the screenshots

[2018-03-28 08:58] #387 closed

[2018-03-28 16:52] GowthamShanmugam commented on #373
Tendrl/node-agent/pull/754

[2018-03-29 12:35] cloudbehl commented on #383
linking Inode removal Issue: https://github.com/Tendrl/monitoring-integration/issues/201

[2018-03-30 08:14] r0h4n commented on #391
This is an RFE, since Tendrl is a monitoring tool and does not understand if the Volume was stopped with good intentions or if it was stopped abruptly or whatever.

Once Tendrl has capabilities like "Volume stop" from Tendrl API then we can address this request.

[2018-04-03 05:39] cloudbehl commented on #197
@julim can you provide the UX for this Issue.

[2018-04-04 07:12] GowthamShanmugam opened #396 "Remove import statements for monitoring-integration objects"
Remove import object and use from namespace

[2018-04-04 09:39] cloudbehl opened #399 "Addition of short_name changes to Monitoring Integration"

[2018-04-04 09:51] cloudbehl commented on #197
Also can you suggest some name for the rebalance Estimated Time panel

[2018-04-04 11:37] nthomas-redhat commented on #79
Closing the as the fix is already merged

[2018-04-04 11:37] #79 closed

[2018-04-04 11:37] nthomas-redhat commented on #201
Closing the issue as the fix is already merged

[2018-04-04 11:37] #201 closed

[2018-04-05 07:50] GowthamShanmugam opened #402 "Is it necessary to take graphite data as archive when any resource is deleted"
I feel there is no meaning to take an archive of graphite data when volume or brick or node is deleted. is it really required? and it won't be deleted forever. this will reduce the performance.

[2018-04-05 07:50] GowthamShanmugam commented on #402
@shtripat @nthomas-redhat @r0h4n @cloudbehl

[2018-04-05 09:28] ltrilety commented on #374
Checked on:
tendrl-ui-1.6.1-3.el7rhgs.noarch

looks good

[2018-04-05 11:30] GowthamShanmugam opened #403 "Add cluster_short_name in alert message instead of integration_id"

[2018-04-05 15:45] julienlim commented on #197
@cloudbehl @nthomas-redhat

Here's recommendation for the [Rebalance Estimated Time](https://github.com/gluster/glusterfs-specs/blob/master/done/GlusterFS%203.10/rebalance-estimates.md) panel

Panel Label: Rebalance Estimate
Panel Description: The Rebalance Estimate panel displays an estimate for how long the rebalance operation will take to complete.

As to what the Panel value should show, I cou

[2018-04-09 06:43] nthomas-redhat opened #406 "Improve alert messages"

[2018-04-09 13:07] shirshendu commented on #383
@cloudbehl Grafana dashboard for bricks is no longer loading because of a minor bug in the above merge, which causes monitoring-integration service to fail.
https://github.com/Tendrl/monitoring-integration/blob/c946f161bc17a27b3fd6f820e0eeaeda3b6adfcb/etc/tendrl/monitoring-integration/grafana/dashboards/tendrl-gluster-bricks.json#L446

I'll raise a PR for this now.

[2018-04-09 13:27] r0h4n commented on #261
@nthomas-redhat  Please provide  change in disk size requirements for Graphite for below scenarios
- User adds a storage node and manages it under Tendrl
- User adds a brick or volume or object under gluster cluster that is managed by Tendrl

[2018-04-10 10:15] ltrilety commented on #261
A note for the assessment. Don't forget that un-manage screws the counting as it takes all data from graphite and saved them on `/usr/share/tendrl/graphite/archive` path. That brings several questions:
 1. How many un-manage saves will be allowed? Any of them means multiply of the current size number.
 2. Does it mean that we will require some disk size for the main disk too? Because we are requir

[2018-04-10 15:31] GowthamShanmugam opened #409 "Monitoring-integration tries to push aggregation details into metrics for unmanaged clusters also"

[2018-04-13 06:54] cloudbehl opened #412 "Templating variable cluster_id in dashboard json need a change to cluster _name"
The impacts due to the cluster_id to cluster_name variable change are on different components.

Changes in all the query in grafana and also the links between the different dashboards need this change
Alerting logic needs to be changed according to the variable change.
UI Links to grafana dashboard will be broken so the change in the UI will be required.

[2018-04-13 13:40] GowthamShanmugam opened #414 "Monitoring-integration is unable to receive alert from grafana"
As per Current implementation only peer nodes have fqdn, So server fqdn is always none in node_context. So while creating notification channel monitoring-integration is creating a notification using None and monitoring-integration is unable to receive alert from grafana.

[2018-04-14 09:06] shtripat opened #416 "Delete sumlink only if it exists while delete monitoring data"

[2018-04-16 05:03] #399 closed

[2018-04-16 11:56] cloudbehl opened #419 "Lock down to 1.0.6 version of vonage plugin in grafana"

[2018-04-17 06:30] #419 closed

[2018-04-17 06:32] cloudbehl commented on #386
@mcarrano That's actually not possible right now to place it on right.

[2018-04-17 06:33] cloudbehl commented on #402
@GowthamShanmugam I agree there is no use of it. We can simply remove that data without archiving it

[2018-04-17 06:34] #350 closed

[2018-04-17 06:35] cloudbehl commented on #350
@GowthamShanmugam This bug is fixed as part of name changes of dashboard.

[2018-04-17 06:36] #383 closed

[2018-04-17 06:42] GowthamShanmugam commented on #350
@cloudbehl Yes

[2018-04-18 06:37] shtripat opened #425 "Check the sds_name correctly in monitoring_integration"

[2018-04-18 06:42] GowthamShanmugam opened #426 "alert_dashboard is not created in grafana"
Some problem while collecting brick details so dashbaord is not created for brick

[2018-04-20 08:57] GowthamShanmugam commented on #426
This issue is fixed

[2018-04-20 08:57] #426 closed

[2018-04-20 08:57] GowthamShanmugam commented on #414
This issue is fixed

[2018-04-20 08:57] #414 closed

[2018-04-20 08:58] GowthamShanmugam commented on #409
This issue is fixed

[2018-04-20 08:58] #409 closed

[2018-04-20 08:58] GowthamShanmugam commented on #403
This issue is fixed

[2018-04-20 08:59] GowthamShanmugam commented on #396
This issue is fixed

[2018-04-20 08:59] #396 closed

[2018-04-20 09:00] GowthamShanmugam commented on #373
Please verify and close this issue

[2018-04-20 09:00] GowthamShanmugam commented on #341
This issue is fixed

[2018-04-20 09:00] GowthamShanmugam commented on #341
please close this issue

[2018-04-25 13:59] GowthamShanmugam opened #429 "Grafana shows short_name as well as integration_id of particular cluster"

[2018-04-25 14:00] GowthamShanmugam commented on #429
I imported a cluster using short_name, but grafana displays integration_id and short_name of the same cluster.

[2018-04-25 15:18] GowthamShanmugam opened #431 "Grafana dashboards with new nodes are created before user initiates cluster expansion"

[2018-04-26 04:17] GowthamShanmugam opened #433 "Utilization related alert messages are not displayed in event page"
Utilization alert messages are raised as alerts but not displayed on the event page. Need to pass integration_id with log_message to log the message under the particular cluster.

[2018-04-26 06:16] dahorak opened #435 "error: bad date in %changelog: Wwd Apr 18 2018..."
Recent master and PR builds[[1](https://ci.centos.org/job/tendrl-build-1-master-monitoring-integration/),[2](https://ci.centos.org/job/tendrl-build-1-pr-monitoring-integration/)] are failing for few days, because of [typo in date in changelog](https://github.com/Tendrl/monitoring-integration/blob/master/tendrl-monitoring-integration.spec#L112):
[code]

[2018-04-26 06:18] r0h4n commented on #435
Fixed: https://github.com/Tendrl/monitoring-integration/pull/434

[2018-04-30 11:20] GowthamShanmugam opened #436 "During un-manage flow graphite data should be archived in same device"

[2018-05-01 12:34] GowthamShanmugam opened #438 "Alert dashboards are not created when more than one clusters are managed"

[2018-05-04 15:21] GowthamShanmugam opened #442 "Alert dashbaord is not raising alert when cluster is import with shortname"

[2018-05-07 08:51] cloudbehl opened #445 "Grafana dashboard doesn't show number of brick in Down state"

[2018-05-07 14:13] GowthamShanmugam opened #447 "Volume with name 'None' listed in grafana dashboard"

[2018-05-08 15:52] GowthamShanmugam opened #449 "During unmanage archive failed should display proper message"

[2018-05-09 10:59] #442 closed

[2018-05-10 11:49] r0h4n opened #451 "Use cherrypy instead of development server for grafana alerts web callback"
tendrl-monitoring-integration currently uses a simple http server [0] for handling grafana alerts callback which should not be used for production purposes.

Please check the following PR and use python-flask, python-cherry for the grafana alerts callback
https://github.com/Tendrl/gluster-integration/pull/630

[0] : https://github.com/Tendrl/monitoring-integration/blob/master/tendrl/monitoring_int

[2018-05-10 13:14] GowthamShanmugam opened #452 "Carbon-cache socket connections are not closed properly"

[2018-05-11 03:49] shtripat commented on #425
Closing as required changes merged

[2018-05-11 03:49] #425 closed

[2018-05-11 03:50] shtripat commented on #416
Done. Closing

[2018-05-11 03:50] #416 closed

[2018-05-14 16:00] r0h4n opened #456 "Stopping tendrl-monitoring-integration service throws exception closing graphite socket"
[code]

How to reproduce:
- Stop a already running tendrl-monitoring-integration service, check logs

[2018-05-14 16:27] GowthamShanmugam opened #458 "False alerts when brick utilization breached 90%"

[2018-05-15 09:40] GowthamShanmugam commented on #458
This issue is fixed

[2018-05-15 09:41] GowthamShanmugam commented on #452
This issue is fixed

[2018-05-15 09:41] GowthamShanmugam commented on #451
This issue is fixed please close this

[2018-05-15 09:42] GowthamShanmugam commented on #449
This issue is fixed

[2018-05-15 09:42] #449 closed

[2018-05-15 09:42] GowthamShanmugam commented on #447
This issue si fixed

[2018-05-15 09:43] #447 closed

[2018-05-22 11:11] cloudbehl opened #462 "brick status tooltiop differs with real values"
The status of brick when the brick is DOWN is 8 but in tooltip is written `10 = Stopped`.

[2018-05-23 15:29] shtripat opened #465 "Remove super.stop from stop function of webhookreceiver"
Base class of web hook receiver (threading.Thread) doesn't have a stop() function and from documentation of Thread class, `It stops being alive when its run() method terminates – either normally, or by raising an unhandled exception`.

[2018-05-24 02:40] GowthamShanmugam commented on #458
So i found the place where exactly causing an issue, So the problem is actually simple but tricky. Problem is grafana actually raising alert and monitoring-integration is catching the alert and it will query grafana using alert_id to fetch complete detail about that particular alert. Problem is if grafana raise ok alert we query again at that time alert is changed to some other state. So receiving

[2018-05-25 04:34] GowthamShanmugam opened #468 "unmanaged task always fails after import failure"

[2018-05-28 17:58] GowthamShanmugam opened #470 "Utilization notifications use integration id instead of cluster name"

[2018-05-30 11:30] cloudbehl opened #472 "Remove all the "Trend" word from the Grafana graphs"

[2018-05-31 07:46] shtripat commented on #465
Closing as required PR merged

[2018-05-31 07:46] #465 closed

[2018-06-01 09:27] anmolsachan opened #480 "Grafana alert dashboard does not raise alerts when nodes have string "tendrl" in hostname"
Alerts do not show in alerts dashboard. Eg for brick Dashboard.
Also metrics column does not appear properly. Refer images.

![screenshot from 2018-06-04 17-52-48](https://user-images.githubusercontent.com/8753636/40917909-759a5918-6822-11e8-95be-5bb9104426a9.png)
![screenshot from 2018-06-04 17-54-39](https://user-images.githubusercontent.com/8753636/40917911-75d018fa-6822-11e8-8225-fd044280d466.

[2018-06-04 08:07] r0h4n commented on #480
Need more information, please elaborate on the issue

[2018-06-04 12:42] anmolsachan commented on #480
@r0h4n I have attached the images, to understand the issue correctly.

[2018-06-07 10:28] cloudbehl opened #482 "IOPS Single stat panel need to changed to graph panel"

[2018-06-07 10:34] #472 closed

[2018-06-07 10:34] #462 closed

[2018-06-07 10:34] #445 closed

[2018-06-07 10:35] #412 closed

[2018-06-07 16:14] GowthamShanmugam opened #484 "Maintain same date format for utilization alert and status alert to parse alert in notifier"
Before notifying the alert notifier is going to check any changes in alert for some time, if not then only it will notify the alert. This is done by date and time of the alert. So utilization alert and status alert should have same date time format to parse easily.

[2018-06-12 08:56] GowthamShanmugam opened #486 "Deleted volumes still present in the list under volume name in grafana"

[2018-06-12 09:05] GowthamShanmugam commented on #480
please close this issue if it is fixed

[2018-06-12 09:06] #470 closed

[2018-06-12 09:06] GowthamShanmugam commented on #468
This issue is fixed

[2018-06-12 09:06] GowthamShanmugam commented on #468
This issue is fixed

[2018-06-12 09:06] #468 closed

[2018-06-12 09:07] GowthamShanmugam commented on #458
this issue is fixed

[2018-06-12 09:07] #458 closed

[2018-06-12 09:07] GowthamShanmugam commented on #438
This issue is fixed

[2018-06-12 09:07] #438 closed

[2018-06-12 09:08] GowthamShanmugam commented on #433
This issue is fixed

[2018-06-12 09:08] #433 closed

[2018-06-12 09:08] GowthamShanmugam commented on #431
This issue is fixed

[2018-06-12 09:08] #431 closed

[2018-06-12 09:11] GowthamShanmugam commented on #436
This issue is fixed

[2018-06-12 09:11] #436 closed

[2018-06-12 09:11] GowthamShanmugam commented on #429
This issue is fixed

[2018-06-12 09:11] #429 closed

[2018-06-12 09:12] GowthamShanmugam commented on #456
please close this issue if it is solved

[2018-06-12 09:13] GowthamShanmugam commented on #451
This issue is fixed

[2018-06-12 09:14] #402 closed

[2018-06-12 14:35] GowthamShanmugam opened #488 "Lot of testcase failures in monitoring integration"

[2018-06-14 09:56] cloudbehl opened #490 "Update tool-tip for connection trend in cluster dashboard"

[2018-06-18 06:29] #490 closed

[2018-06-18 06:34] nthomas-redhat commented on #482
https://github.com/Tendrl/monitoring-integration/pull/483

[2018-06-18 06:34] #482 closed

[2018-06-18 06:53] #488 closed

[2018-06-18 06:54] #486 closed

[2018-06-18 06:55] #484 closed

[2018-06-18 06:56] #480 closed

[2018-06-21 09:21] cloudbehl opened #497 "Description for the IOPS panel needs a change"

[2018-06-21 09:30] cloudbehl opened #499 "Connection panel heading needs to be change to Connections"

[2018-06-21 12:10] cloudbehl opened #501 "Throughput Panel in the overview dashboard needs to specify units"

[2018-06-30 05:51] GowthamShanmugam opened #504 "carbon-cache takes lot of cpu and memory utilization to process metrics from collectd"
When the number of volumes and brick in a cluster is huge then collectd makes a lot of HTTP request to carbon-cache server, For each metrics carbon-cache takes a lot of effort and utilization to push the metrics into graphite. Instead of pushing each metrics as an individual HTTP request, send a list of metrics in a single HTTP call will reduce the CPU and memory usage of carbon-cache.

[2018-07-02 02:44] GowthamShanmugam opened #505 "carbon-cache takes lot of times to create files for all metrics"
As per carbon-cache default settings, it will create 50 file for each sync. It is very less for the big cluster it will take more one hour to create all the files and directories. So grafana won't show all the values for an hour and all the effort for collecting metrics are wasted.

[2018-07-02 07:23] cloudbehl opened #507 "Brick dashboard / Disk Load section - Throughput and Latency panel units are confusing"

[2018-07-02 08:31] cloudbehl opened #509 "Disk Load panel in host dashboard (Capacity And Disk Load section) should be called Disk Throughput"

[2018-07-02 08:56] cloudbehl opened #511 "Provide the correct heading for Disk IO panel in host dashboard (Capacity and Disk load section)"

[2018-07-04 06:55] cloudbehl opened #513 "Ping Latency metric tool-tip needs improvement"

[2018-07-04 07:36] cloudbehl opened #515 "Provide the appropriate title for two IOPS panels in host dashboard"

[2018-07-05 10:11] anmolsachan opened #519 "Improper documentation link present in tendrl-monitoring-integration.service file."
Documentation=https://github.com/Tendrl/monitoring-integration/tree/master/doc/source

The above link points to a empty file link and thus should be removed.

[2018-07-13 05:30] cloudbehl opened #522 "Thresholds for utilization bars and alerts differ in UI and grafana"

[2018-07-13 09:06] cloudbehl opened #524 "Change the % latency in top file operation panel in volume dashboard"

[2018-07-13 11:55] GowthamShanmugam opened #526 "Remove node details from graphite under volume when all bricks are delete for that node"

[2018-07-20 16:38] GowthamShanmugam opened #530 "grafana not showing geo-replication-session count details"

[2018-07-23 08:36] #522 closed

[2018-07-23 08:36] #515 closed

[2018-07-23 08:36] #513 closed

[2018-07-23 08:36] #509 closed

[2018-07-23 08:36] #507 closed

[2018-07-23 08:36] #501 closed

[2018-07-23 08:37] #499 closed

[2018-07-23 08:37] #497 closed

[2018-07-23 08:37] #511 closed

[2018-07-24 06:07] #519 closed

[2018-08-12 17:50] cloudbehl opened #534 "Weekly growth rate and week remaining metrics are not accurate"

[2018-08-14 11:27] nthomas-redhat commented on #530
Merged the PR

[2018-08-14 11:27] #530 closed

[2018-08-14 11:29] nthomas-redhat commented on #534
Fix Merged.

[2018-08-14 11:29] #534 closed

[2018-08-14 15:10] cloudbehl opened #538 "changing the validation order of weeks remaining"

[2018-08-23 04:39] nthomas-redhat commented on #538
Fix is merged

[2018-08-23 04:39] #538 closed

[2018-08-29 06:22] GowthamShanmugam opened #543 "Description of Capacity Available panel on Brick dashboards refers to a volume by mistake"

[2018-08-29 07:01] GowthamShanmugam opened #545 ""Bricks" and "Brick Status" panels on Host and Volume dashboards doesn't use the same definition of brick state"

[2018-08-30 04:25] nthomas-redhat commented on #261
For standard cluster sizes please see below:

**Small Configuration**

Up to 8 Nodes
6-8 volumes per cluster
Number of bricks are 2 - 3 per node for replicated volumes with RAID 6 and 12 - 36 per node for EC volumes

Recommendation:
200 GB free size per cluster for this configuration

**Medium Configuration**

9 - 16 Nodes
6-8 volumes per cluster
Number of bricks are 2 - 3 per node for replicated

[2018-09-07 06:36] GowthamShanmugam opened #547 "Description of Health panel of At-a-Glance section on Host dashboard is missing list of all health states"

[2018-09-07 08:15] GowthamShanmugam opened #549 "There are 2 similar charts for brick utilization on Brick dashboard"
There are 2 similar charts for brick utilization on Brick dashboard:

 * Mount Point Utilization chart in Disk Load section
 * Capacity Utilization in At-a-Glance section

[2018-09-10 04:02] GowthamShanmugam opened #551 "Description of Status panel of At-a-Glance section on Brick dashboard is missing list of all brick states"

[2018-09-10 04:41] GowthamShanmugam opened #553 "Description of Health panel of At-a-Glance section on Volume dashboard is missing list of all health states"

[2018-09-10 09:03] anmolsachan opened #555 "Description of Healing panel on Brick dashboard links to inactive link."
Current Description : The Healing panel displays healing information for a given brick based on healinfo. See https://gluster.readthedocs.io/en/latest/Troubleshooting/heal-info-and-split-brain-resolution/
for how to troubleshoot healing and split brain issues.

The link in above description is no longer active and should be removed.

Proposed Description: The Healing panel displays healing informa

[2018-09-10 09:06] anmolsachan opened #556 "Description of disk panels on host dashboard doesn't note whether it's concerned with brick devices only or not."
The description should be clearly mention that it refers to all the block devices.

Old description: The Disk IOPS panel shows the host’s aggregated read and writes disk IOPS over a period of time.
Proposed description: The Disk IOPS panel shows the host’s aggregated read and writes disk IOPS for all the block devices over a period of time.

[2018-09-10 10:49] GowthamShanmugam opened #559 "Description of IOPS panel in Volume refers to all volumes even though it's concerned with single volume only"

[2018-09-10 19:12] cloudbehl opened #561 "Newer version of grafana provides value to text mapping in tables"
Grafana version-5.1+ provides the option of value to text mapping.

Please refer the screenshots attached for more information.

![screenshot from 2018-09-11 00-40-19](https://user-images.githubusercontent.com/6695156/45318733-67a02500-b55b-11e8-95e6-e3c4fc789fd1.png)
![screenshot from 2018-09-11 00-42-14](https://user-images.githubusercontent.com/6695156/45318797-9918f080-b55b-11e8-9da0-ec017ab5a

[2018-09-10 19:14] cloudbehl commented on #561
tested with
Grafana VERSION: 5.2.4

[2018-09-10 20:06] julienlim commented on #561
@cloudbehl Can we get this fixed for the various status tables in the Cluster, Host, and Volume dashboards?
@nthomas-redhat @Tendrl/qe

[2018-09-11 02:26] shtripat commented on #561
@cloudbehl @nthomas-redhat @julienlim do we plan to migrate to higher version of grafana in a batch update ?

[2018-09-11 05:59] cloudbehl commented on #561
@julienlim we can get it fixed for all the table panels in all the dashboards but it needs testing when migrating to 5.* as it's a major version bump.

@shtripat yes, we have plans to bump it higher version. @nthomas-redhat please confirm

[2018-09-11 06:57] GowthamShanmugam opened #562 "No units in Ping Latency panel in Top Consumers section of Cluster dashboard"
![bz-1613492 1](https://user-images.githubusercontent.com/15073590/45343295-19703d80-b5be-11e8-9c47-7f7d69aca576.png)

[2018-09-11 09:44] GowthamShanmugam opened #564 "It's not clear what Weeks Remaining panel on Host dashboard mean"

[2018-09-11 11:30] GowthamShanmugam opened #566 "Description of IOPS chart in "Disk Load" section of Brick dashboard is insufficient"

[2018-09-11 12:55] GowthamShanmugam opened #568 "Description of Memory Utilization panel on Host dashboard is misleading"
Description of Total should not be there because such data are not reported in the chart. This description is also misleading (sheer total usually means total memory installed, not just total memory used). Moreover description of Used field actually uses total in it's usual meaning.  Other problem is that it's not clear if Cached field include Slab Reclaimable memory?
--

[2018-09-11 13:25] GowthamShanmugam opened #570 "Remove Subvolume panel on Volume dashboard (because current info is insufficient)"
Description of Subvolume panel on Volume dashboard doesn't explain what
gluster subvolume is. Moreover it talks about some status info, while
only total number is actually provided on the panel.

[2018-09-11 14:05] GowthamShanmugam opened #572 "Description of charts from Profiling Information section of Volume dashboard is incorrect"
Description of charts from Profiling Information section of Volume dashboard doesn't match data actually provided by the charts there.

[2018-09-20 17:10] anmolsachan opened #575 "Monitoring-integration needs a script to delete the grafana dashboards for upgrades"

[2018-10-01 08:09] GowthamShanmugam opened #577 "Communication with grafana (URL) shows http:// even if certificates were in place"

[2018-12-05 13:55] GowthamShanmugam opened #580 "Utilization alerts are not working"

[2018-12-05 13:55] GowthamShanmugam commented on #580
If cpu or memory of host is utilized beyond 80% then there is no alert generated

[2018-12-11 15:37] GowthamShanmugam opened #582 "graphite data migration process from graphite-web-0.X.X to graphite-web-1.X.X should done from tendrl-upgrade script"

[2018-12-21 05:54] GowthamShanmugam opened #584 "After migration to graphite-1.1.4 the brick specific dashboards are not visible in grafana"
The brick dashboard shows no data in all the graphs and panels because from graphite-1.1.X they are considering pipe symbol(|) as a reserved character. they use this for some other purpose. So we can use pipe symbol to specify brick_path.